<section class="email-wrapper">
    <div class="container">
        <div class="row">
            <div class="contact-wrapper">
                <h1>Get in touch with us.</h1>
                <div class="sm-instr">
                    Our reps are available to help you
                </div>
                <div class="time-instr">
                    MON - FRI 8:30AM - 5PM ET
                </div>
                <div class="contact-sections">
                    <div class="contact-section">
                        <div class="img-wrap"><img alt="Call us" src="{{ 'get-in-touch-01.svg' | asset_url }}" style="max-height:50px; margin:15px auto;"></div><a href="tel:8009354002">800.935.4002</a>
                    </div>
                    <div class="contact-section">
                        <div class="img-wrap" id="footer-chat"><img alt="Chat with us" src="{{ 'get-in-touch-02.svg' | asset_url }}" style="max-height:50px; margin:15px auto;"></div><a href="javascript:void(0);" id="footer-chat-link" onclick="olark('api.box.expand')">CHAT</a>
                    </div>
                    <div class="contact-section">
                        <div class="img-wrap"><img alt="Message us" src="{{ 'get-in-touch-03.svg' | asset_url }}" style="max-height:50px; margin:15px auto;"></div><a href="/pages/contact-us">MESSAGE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-3 footer-item email-item">
                    <div class="footer-email-wrapper">
                        <div class="grey-zubriki-top"></div>
                        <div class="cmApp_embedFormContainer" style="display:none"></div><!--div class="email-title">Get Connected</div>
     <div class="footer-email-subtitle hidden-large">DiamondBack updates &amp; specials.</div>
     <div class="email-form">
     <form>
     <input class="email-box" name="email" type="textbox" placeholder="Enter email for DiamondBack updates and specials" />
     <input type="submit" class="email-submit" value="" />
   </form>
     </div-->
                        <div class="email-note">
                            (Private, secure, spam-free.)
                        </div>
                        <div class="batches batches-main">
                            <ul>
                                <li><img alt="Built in USA" src="{{ 'icon-built-in-usa.svg' | asset_url }}" height="75"></li>
                                <li><img alt="lifetime warranty" src="{{ 'icon-lifetime-warranty.svg' | asset_url }}" height="100"></li>
                                <li class="social">
                                    <a href="https://www.facebook.com/diamondbackcovers" target="_blank"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="social">
                                    <a href="https://twitter.com/dbackcovers" target="_blank"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="social">
                                    <a href="https://www.youtube.com/user/diamondbackcover" target="_blank"><i class="fa fa-youtube"></i></a>
                                </li>
                                <li class="social">
                                    <a href="https://www.instagram.com/diamondbackcovers/" target="_blank"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2 footer-item footer-links-wrapper footer-links-group-1 footer-links-first-group">
                    <ul>
                        <li class="footer-titles">Shop</li>
                        <li style="list-style: none">{% include 'shop' %}</li>
                    </ul>
                </div>
                <div class="col-md-2 col-lg-2 footer-item footer-links-wrapper">
                    <ul>
                        <li class="footer-titles">Product Info</li>
                        <li style="list-style: none">{% include 'footer-product-info' %}</li>
                    </ul>
                </div>
                <div class="col-md-2 col-lg-2 footer-item footer-links-wrapper">
                    <ul>
                        <li class="footer-titles">Get Help</li>
                        <li style="list-style: none">{% include 'get-help-footer' %}</li>
                    </ul>
                </div>
                <div class="col-md-2 col-lg-2 footer-item footer-links-wrapper">
                    <ul>
                        <li class="footer-titles">About</li>
                        <li style="list-style: none">{% include 'about' %}</li>
                    </ul>
                </div>
                <div class="col-md-1 col-lg-1 footer-item footer-links-wrapper footer-last-item footer-links-last-group">
                    <ul>
                        <li class="footer-titles">Dealers</li>
                        <li style="list-style: none">{% include 'dealers' %}</li>
                    </ul>{% include 'utility' %}
                </div>
            </div>
            <div class="row hidden-large footer-mobile-batches">
                <div class="batches">
                    <ul>
                        <li class="hidden-xs hidden-sm"><img alt="Built in USA" src="{{ 'icon-built-in-usa.svg' | asset_url }}"></li>
                        <li class="hidden-xs hidden-sm"><img alt="lifetime warranty" src="{{ 'icon-lifetime-warranty.svg' | asset_url }}"></li>
                        <li class="social">
                            <a href="https://www.facebook.com/diamondbackcovers" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="social">
                            <a href="https://twitter.com/dbackcovers" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="social">
                            <a href="https://www.youtube.com/user/diamondbackcover" target="_blank"><i class="fa fa-youtube"></i></a>
                        </li>
                        <li class="social">
                            <a href="https://www.instagram.com/diamondbackcovers/" target="_blank"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row hidden-large footer-copy">
                <div class="copy-content">
                    &copy;2016 DiamondBack
                </div>
                <ul>
                    <li class="first">
                        <a href="/pages/privacy-terms">Privacy &amp; Terms</a>
                    </li>
                    <li class="sep">
                        <div></div>
                    </li>
                    <li>
                        <a href="/pages/site-map">Site Map</a>
                    </li>
                </ul>
            </div>
            <div class="hidden-md hidden-lg mobile-logos">
                <ul>
                    <li><img alt="Built in USA" src="{{ 'icon-built-in-usa.svg' | asset_url }}" style="margin-top:25px;"></li>
                    <li><img alt="lifetime warranty" src="{{ 'icon-lifetime-warranty.svg' | asset_url }}"></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
	 
	 <script>


	$(document).ready(function(){
      !function(a){"use strict";function b(a,c){if(!(this instanceof b)){var d=new b(a,c);return d.open(),d}this.id=b.id++,this.setup(a,c),this.chainCallbacks(b._callbackChain)}function c(a,b){var c={};for(var d in a)d in b&&(c[d]=a[d],delete a[d]);return c}function d(a,b){var c={},d=new RegExp("^"+b+"([A-Z])(.*)");for(var e in a){var f=e.match(d);if(f){var g=(f[1]+f[2].replace(/([A-Z])/g,"-$1")).toLowerCase();c[g]=a[e]}}return c}if("undefined"==typeof a)return void("console"in window&&window.console.info("Too much lightness, Featherlight needs jQuery."));var e=[],f=function(b){return e=a.grep(e,function(a){return a!==b&&a.$instance.closest("body").length>0})},g={allowfullscreen:1,frameborder:1,height:1,longdesc:1,marginheight:1,marginwidth:1,name:1,referrerpolicy:1,scrolling:1,sandbox:1,src:1,srcdoc:1,width:1},h={keyup:"onKeyUp",resize:"onResize"},i=function(c){a.each(b.opened().reverse(),function(){return c.isDefaultPrevented()||!1!==this[h[c.type]](c)?void 0:(c.preventDefault(),c.stopPropagation(),!1)})},j=function(c){if(c!==b._globalHandlerInstalled){b._globalHandlerInstalled=c;var d=a.map(h,function(a,c){return c+"."+b.prototype.namespace}).join(" ");a(window)[c?"on":"off"](d,i)}};b.prototype={constructor:b,namespace:"featherlight",targetAttr:"data-featherlight",variant:null,resetCss:!1,background:null,openTrigger:"click",closeTrigger:"click",filter:null,root:"body",openSpeed:250,closeSpeed:250,closeOnClick:"background",closeOnEsc:!0,closeIcon:"&#10005;",loading:"",persist:!1,otherClose:null,beforeOpen:a.noop,beforeContent:a.noop,beforeClose:a.noop,afterOpen:a.noop,afterContent:a.noop,afterClose:a.noop,onKeyUp:a.noop,onResize:a.noop,type:null,contentFilters:["jquery","image","html","ajax","iframe","text"],setup:function(b,c){"object"!=typeof b||b instanceof a!=!1||c||(c=b,b=void 0);var d=a.extend(this,c,{target:b}),e=d.resetCss?d.namespace+"-reset":d.namespace,f=a(d.background||['<div class="'+e+"-loading "+e+'">','<div class="'+e+'-content">','<button class="'+e+"-close-icon "+d.namespace+'-close" aria-label="Close">',d.closeIcon,"</button>",'<div class="'+d.namespace+'-inner">'+d.loading+"</div>","</div>","</div>"].join("")),g="."+d.namespace+"-close"+(d.otherClose?","+d.otherClose:"");return d.$instance=f.clone().addClass(d.variant),d.$instance.on(d.closeTrigger+"."+d.namespace,function(b){var c=a(b.target);("background"===d.closeOnClick&&c.is("."+d.namespace)||"anywhere"===d.closeOnClick||c.closest(g).length)&&(d.close(b),b.preventDefault())}),this},getContent:function(){if(this.persist!==!1&&this.$content)return this.$content;var b=this,c=this.constructor.contentFilters,d=function(a){return b.$currentTarget&&b.$currentTarget.attr(a)},e=d(b.targetAttr),f=b.target||e||"",g=c[b.type];if(!g&&f in c&&(g=c[f],f=b.target&&e),f=f||d("href")||"",!g)for(var h in c)b[h]&&(g=c[h],f=b[h]);if(!g){var i=f;if(f=null,a.each(b.contentFilters,function(){return g=c[this],g.test&&(f=g.test(i)),!f&&g.regex&&i.match&&i.match(g.regex)&&(f=i),!f}),!f)return"console"in window&&window.console.error("Featherlight: no content filter found "+(i?' for "'+i+'"':" (no target specified)")),!1}return g.process.call(b,f)},setContent:function(b){var c=this;return(b.is("iframe")||a("iframe",b).length>0)&&c.$instance.addClass(c.namespace+"-iframe"),c.$instance.removeClass(c.namespace+"-loading"),c.$instance.find("."+c.namespace+"-inner").not(b).slice(1).remove().end().replaceWith(a.contains(c.$instance[0],b[0])?"":b),c.$content=b.addClass(c.namespace+"-inner"),c},open:function(b){var c=this;if(c.$instance.hide().appendTo(c.root),!(b&&b.isDefaultPrevented()||c.beforeOpen(b)===!1)){b&&b.preventDefault();var d=c.getContent();if(d)return e.push(c),j(!0),c.$instance.fadeIn(c.openSpeed),c.beforeContent(b),a.when(d).always(function(a){c.setContent(a),c.afterContent(b)}).then(c.$instance.promise()).done(function(){c.afterOpen(b)})}return c.$instance.detach(),a.Deferred().reject().promise()},close:function(b){var c=this,d=a.Deferred();return c.beforeClose(b)===!1?d.reject():(0===f(c).length&&j(!1),c.$instance.fadeOut(c.closeSpeed,function(){c.$instance.detach(),c.afterClose(b),d.resolve()})),d.promise()},resize:function(a,b){if(a&&b){this.$content.css("width","").css("height","");var c=Math.max(a/(parseInt(this.$content.parent().css("width"),10)-1),b/(parseInt(this.$content.parent().css("height"),10)-1));c>1&&(c=b/Math.floor(b/c),this.$content.css("width",""+a/c+"px").css("height",""+b/c+"px"))}},chainCallbacks:function(b){for(var c in b)this[c]=a.proxy(b[c],this,a.proxy(this[c],this))}},a.extend(b,{id:0,autoBind:"[data-featherlight]",defaults:b.prototype,contentFilters:{jquery:{regex:/^[#.]\w/,test:function(b){return b instanceof a&&b},process:function(b){return this.persist!==!1?a(b):a(b).clone(!0)}},image:{regex:/\.(png|jpg|jpeg|gif|tiff|bmp|svg)(\?\S*)?$/i,process:function(b){var c=this,d=a.Deferred(),e=new Image,f=a('<img src="'+b+'" alt="" class="'+c.namespace+'-image" />');return e.onload=function(){f.naturalWidth=e.width,f.naturalHeight=e.height,d.resolve(f)},e.onerror=function(){d.reject(f)},e.src=b,d.promise()}},html:{regex:/^\s*<[\w!][^<]*>/,process:function(b){return a(b)}},ajax:{regex:/./,process:function(b){var c=a.Deferred(),d=a("<div></div>").load(b,function(a,b){"error"!==b&&c.resolve(d.contents()),c.fail()});return c.promise()}},iframe:{process:function(b){var e=new a.Deferred,f=a("<iframe/>"),h=d(this,"iframe"),i=c(h,g);return f.hide().attr("src",b).attr(i).css(h).on("load",function(){e.resolve(f.show())}).appendTo(this.$instance.find("."+this.namespace+"-content")),e.promise()}},text:{process:function(b){return a("<div>",{text:b})}}},functionAttributes:["beforeOpen","afterOpen","beforeContent","afterContent","beforeClose","afterClose"],readElementConfig:function(b,c){var d=this,e=new RegExp("^data-"+c+"-(.*)"),f={};return b&&b.attributes&&a.each(b.attributes,function(){var b=this.name.match(e);if(b){var c=this.value,g=a.camelCase(b[1]);if(a.inArray(g,d.functionAttributes)>=0)c=new Function(c);else try{c=JSON.parse(c)}catch(h){}f[g]=c}}),f},extend:function(b,c){var d=function(){this.constructor=b};return d.prototype=this.prototype,b.prototype=new d,b.__super__=this.prototype,a.extend(b,this,c),b.defaults=b.prototype,b},attach:function(b,c,d){var e=this;"object"!=typeof c||c instanceof a!=!1||d||(d=c,c=void 0),d=a.extend({},d);var f,g=d.namespace||e.defaults.namespace,h=a.extend({},e.defaults,e.readElementConfig(b[0],g),d);return b.on(h.openTrigger+"."+h.namespace,h.filter,function(g){var i=a.extend({$source:b,$currentTarget:a(this)},e.readElementConfig(b[0],h.namespace),e.readElementConfig(this,h.namespace),d),j=f||a(this).data("featherlight-persisted")||new e(c,i);"shared"===j.persist?f=j:j.persist!==!1&&a(this).data("featherlight-persisted",j),i.$currentTarget.blur(),j.open(g)}),b},current:function(){var a=this.opened();return a[a.length-1]||null},opened:function(){var b=this;return f(),a.grep(e,function(a){return a instanceof b})},close:function(a){var b=this.current();return b?b.close(a):void 0},_onReady:function(){var b=this;b.autoBind&&(a(b.autoBind).each(function(){b.attach(a(this))}),a(document).on("click",b.autoBind,function(c){c.isDefaultPrevented()||"featherlight"===c.namespace||(c.preventDefault(),b.attach(a(c.currentTarget)),a(c.target).trigger("click.featherlight"))}))},_callbackChain:{onKeyUp:function(b,c){return 27===c.keyCode?(this.closeOnEsc&&a.featherlight.close(c),!1):b(c)},beforeOpen:function(b,c){return this._previouslyActive=document.activeElement,this._$previouslyTabbable=a("a, input, select, textarea, iframe, button, iframe, [contentEditable=true]").not("[tabindex]").not(this.$instance.find("button")),this._$previouslyWithTabIndex=a("[tabindex]").not('[tabindex="-1"]'),this._previousWithTabIndices=this._$previouslyWithTabIndex.map(function(b,c){return a(c).attr("tabindex")}),this._$previouslyWithTabIndex.add(this._$previouslyTabbable).attr("tabindex",-1),document.activeElement.blur(),b(c)},afterClose:function(b,c){var d=b(c),e=this;return this._$previouslyTabbable.removeAttr("tabindex"),this._$previouslyWithTabIndex.each(function(b,c){a(c).attr("tabindex",e._previousWithTabIndices[b])}),this._previouslyActive.focus(),d},onResize:function(a,b){return this.resize(this.$content.naturalWidth,this.$content.naturalHeight),a(b)},afterContent:function(a,b){var c=a(b);return this.$instance.find("[autofocus]:not([disabled])").focus(),this.onResize(b),c}}}),a.featherlight=b,a.fn.featherlight=function(a,c){return b.attach(this,a,c)},a(document).ready(function(){b._onReady()})}(jQuery);

				$('.truck-form').featherlight();
			    $('#MobileNav').html($('#SiteNav').html()); 
    
    
    });
		
		</script>
<script>
	$(document).ready(function(){
      if ($('.doc-img').length){
  $($('.doc-img')[0]).addClass('install');
}
      if ($('.site-nav--active').length) {
$('.site-nav--active').closest('div').closest('li').addClass('site-nav--active');
}
      
      if ($('.table-compare').length && $('.compare-make').length){
      var activeItem = $('.compare-make .active').attr('alt');  
      var activeContent = $('.compare-html.'+  activeItem).html();
      $('.compare-table-content').html(activeContent);
      }
    });
  
  $('.compare-make img').click(function(ev){
  var activeItem = $(this).attr('alt');
  var activeContent = $('.compare-html.'+  activeItem).html();
    
  $('.compare-make img').removeClass('active');
  $(this).addClass('active');
  $('.compare-table-content').html(activeContent); 
    
    
  });
  
  
var domainurl  = "//makdigitaldesign.com";
var websiteaddress = document.location.host;
var protocol = document.location.protocol;
var pathname = document.location.pathname;  
var pageurl = document.location.href;

  if ($('.atv-option-item img.active').length){
var itemshow= $('.atv-option-item img.active').attr('data-hover');
var optdesctext = $('.'+itemshow).html();
$('.opt-desc-text').html(optdesctext);
}

$('.atv-option-item img').mouseenter(function(ev){
var item = $(this).attr('src');
var content = $(this).attr('data-hover');
var bkg = $(this).attr('data-bkg');


  if ($(this).hasClass('active')==false){     
  var activeItem = $('.atv-option-item img.active').attr('data-off');  
  $('.atv-option-item img.active').attr('src', activeItem);  
  $('.atv-option-item img').removeClass('active');     
 $(this).addClass('active');
 item = item.replace('.png', '-on.png');
 $(this).attr('src', item);   
 $('.opt-desc-text').html($('.'+content).html());
 $('.slider-img').attr('src', bkg);
 
  }  
  
});
  

$('.help-links-wrapper h2').click(function(ev){
  if ($(window).width()<993){
  if ($(this).hasClass('active')==true){  
    $(this).removeClass('active');
    $(this).closest('div').find('ul').slideUp();
  } else {
   $(this).addClass('active');
    $(this).closest('div').find('ul').slideDown();
  }
  }
  
})  
  
  
  
$('.footer-titles').click(function(ev){
  if ($(this).closest('.footer-item').hasClass('active')==true){
    $(this).closest('.footer-item').removeClass('active');
  } else {
   $(this).closest('.footer-item').addClass('active'); 
  }
  
})
$('.product-img-view li').click(function(){
  if ($(this).hasClass('active')==false){
  $(this).closest('.product-img-view').find('li').removeClass('active');
  $(this).addClass('active');
  var img=$(this).attr('data-img');
  $(this).closest('.grid-view-item').find('.grid-view-item__image').attr('src', img);   
 
  }  
})
$('.mobile-nav').click(function(){
 
  if ($(this).hasClass('active')==false){
   $(this).addClass('active');
$('body').addClass('off-canvas-active')
$(".mobile-nav-wrapper-main").show();
$(".mobile-nav-wrapper-main").animate({"left":"0px"}, "fast");
  } else {
  $(this).hasClass('active') 
  $('body').removeClass('off-canvas-active')
$(".mobile-nav-wrapper-main").animate({"left":"-250px"}, "fast");
$(".mobile-nav-wrapper-main").hide();    
    
  }
  
 })
$('.check-mark').click(function(ev){
  if ($(this).hasClass('selected') == true){
   $(this).removeClass('selected'); 
   $('#ContactProductUpdates').val('No'); 
  }else{
    $(this).addClass('selected');
     $('#ContactProductUpdates').val('Yes'); 
  }
  
  
})


function getCookies(cname){
var i,x,y,ARRcookies=document.cookie.split(";");
for (i=0;i<ARRcookies.length;i++)
{
  x=ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));
  y=ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);
  x=x.replace(/^\s+|\s+$/g,"");
  
 if (x == cname) {
 return y;
  } 
  }
  }
  
  function setCookie(c_name,value,exdays)
{
var exdate=new Date();
exdate.setDate(exdate.getDate() + exdays);
var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
document.cookie=c_name + "=" + c_value + '; path=/';
} 

  function replaceAll(t, e, o) {
    return t.replace(new RegExp(escapeRegExp(e), "g"), o)
}
  function escapeRegExp(t) {
    return t.replace(/([.*+?^=!:${}()|\[\]\/\\])/g, "\\$1")
}
  
  function replaceHTMLSYMB(data){
   data = replaceAll(data, ' ',' ');
   data = replaceAll(data, '%27',"'"); 
   data =replaceAll(data, '%u2013',"-");
   data =replaceAll(data, '%28',"(");
   data =replaceAll(data, '%29',")");
   data =replaceAll(data, '%22','"');  
    
   return data; 
  }
  
  
Number.prototype.formatMoney = function(c, d, t){
var n = this, 
    c = isNaN(c = Math.abs(c)) ? 2 : c, 
    d = d == undefined ? "." : d, 
    t = t == undefined ? "," : t, 
    s = n < 0 ? "-" : "", 
    i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))), 
    j = (j = i.length) > 3 ? j % 3 : 0;
   return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
 }; 
  
 
function replaceSpace(data){
   data = replaceAll(data, ' ',''); 
   data = replaceAll(data, '–','-'); 
   return data; 
  }
  

//==================== get product data ============================== //


var make = getCookies('make');  
var model = getCookies('model');
var year = getCookies('year');
var bed = getCookies('bed');
var inbed = getCookies('inbed');  
  
  
  if ( make !='' && make !=undefined){
    make =  replaceHTMLSYMB(make);
    model =  replaceHTMLSYMB(model);
    year =  replaceHTMLSYMB(year);
    bed =  replaceHTMLSYMB(bed);
    inbed =  replaceHTMLSYMB(inbed);
    
    
    
    
  var resulttitlebar = "<b>CONFIGURE RESULTS:</b> " + make + " / " + model + " / " + year + " / " + bed;
  var resulttitle = "Make: " + make + " | Model: " + model + " | Year Range: " + year + " |  Bed Length: " + bed;
  //var resulttitleproduct = "Make: " + make + "<br/>Model: " + model + "<br/>Year Range: " + year + "<br/>Bed Length: " + bed;
  var resulttitleproduct = 'FITS: ' + year + ' ' + make + " " + model +  " " + bed + '   <a href="#" class="change">&#62; Change</a>';
  
  var resulttitleproducthead= ": <span>" + make + " / " + model + " / " + year + " / " + bed +"</span>";
  if ( inbed !='' && inbed !=undefined && inbed !=0){
    resulttitle = resulttitle + " | In-Bed Track: " +  inbed;
	resulttitleproducthead = resulttitleproducthead + " / " +  inbed;
	resulttitlebar = resulttitlebar + " / " +  inbed;
  } 
  
  resulttitleproducthead = resulttitleproducthead + ' <a href="#" class="close-filter">X</a> ';
  resulttitlebar = resulttitlebar  + ' <a href="#" class="close-filter">X (CLEAR)</a> ';
  
  $('.filter-result-content').html(resulttitlebar);
  
  
  if (pageurl.indexOf('?variant')>-1){
  $('.product-price__price').after('<div class="configured-product">'+resulttitleproduct+'</div>');
  $('.change').bind('click', function(ev){
  ev.preventDefault();
  ev.stopPropagation();   
  $('.configure_by_collection').click();
  })
  }
  $('.filter-result').show();
  //$('.filter-result-top').html(resulttitleproducthead); 
  
  $('.close-filter').bind('click', function(ev){
  ev.preventDefault();
  ev.stopPropagation();   
  $('.filter-result-top').html(' / '); 
  $('.filter-result-content').html('');
  $('.filter-result').hide();
  setCookie('make', '', 3600);
  setCookie('model', '', 3600);
  setCookie('year', '', 3600);
  setCookie('bed', '', 3600);
  setCookie('inbed', '', 3600); 
  });


  
    if ($('.custom-search h2').length){
     $('.custom-search h2').html(resulttitle); 
    }
  }
  
  
  

	$(document).ready(function(){      
      
 
    
   $('#truck-form select').change(function(ev){
  var nextselection = $(this).attr('data-next');
  var control = $(this).attr('id');
     
  
    // if ($(this).val()=='') {     
  if (nextselection=='model'){
   
  $('.featherlight #model').html('<option value="">Model</option>');
  $('.featherlight #model').removeClass('selected');            
  $('.featherlight #year').html('<option value="">Year Range</option>');
  $('.featherlight #year').removeClass('selected');  
  $('.featherlight #bed').html('<option value="">Bed Length</option>');
  $('.featherlight #bed').removeClass('selected');   
  $('.featherlight #inbed').html('<option value="">In-Bed Track</option>');
  $('.featherlight #inbed').removeClass('selected');     
    
  }else if (nextselection=='year'){
    
  $('.featherlight #year').html('<option value="">Year Range</option>');
  $('.featherlight #year').removeClass('selected');    
  $('.featherlight #bed').html('<option value="">Bed Length</option>'); 
  $('.featherlight #bed').removeClass('selected');   
  $('.featherlight #inbed').html('<option value="">In-Bed Track</option>');  
  $('.featherlight #inbed').removeClass('selected');   
    
    
  }else if (nextselection=='bed'){
  
  $('.featherlight #bed').html('<option value="">Bed Length</option>'); 
  $('.featherlight #bed').removeClass('selected');     
  $('.featherlight #inbed').html('<option value="">In-Bed Track</option>');  
  $('.featherlight #inbed').removeClass('selected');  
    
    
  }else{
  $('.featherlight #inbed').html('<option value="">In-Bed Track</option>');  
  $('.featherlight #inbed').removeClass('selected'); 
  } 
  
  $('.featherlight #inbed').show();    
  
       
   //  }  
     
     
     
  if (nextselection!='' && $(this).val()!=''){
    
    $(this).removeClass('failed');
    
    var moreparam='';
    $(this).closest('#truck-form').find('select').each(function(){
    var paramname = $(this).attr('id');
    var paramval = $(this).val();
      if (paramval==0){
        paramval='';
      }
        
    moreparam = moreparam + '&'+ paramname + '='+paramval;   
    })
    
    var collection=$('#collection_id').val();
    $.ajax({
        url: domainurl + "/diamondback/api_call_get_products_configuration.php?param=" + nextselection + moreparam+"&collection="+collection,
        cache: !1,
        dataType: "json",
        type: "GET",
        success: function(s) {              
        var lookup = {};
          
          
         if (s==''){
           if (nextselection=='inbed'){
          $('.featherlight #inbed').hide();
          $('.featherlight #inbed').removeClass('failed');   
           }
          } else {   
          
          
var items = s;
var result = [];
var optionselect = '';          
var label='';
          
for (var item, i = 0; item = items[i++];) {
  
  if (nextselection=='model'){
  var filter = item.model;
  label="Model";
    
            
  $('.featherlight #year').html('<option value="">Year Range</option>');
  $('.featherlight #year').removeClass('selected');  
  $('.featherlight #bed').html('<option value="">Bed Length</option>');
  $('.featherlight #bed').removeClass('selected');   
  $('.featherlight #inbed').html('<option value="">In-Bed Track</option>');
  $('.featherlight #inbed').removeClass('selected'); 
   
    
  }else if (nextselection=='year'){
    var filter = item.year;
    label="Year Range";
    
    
  $('.featherlight #bed').html('<option value="">Bed Length</option>'); 
  $('.featherlight #bed').removeClass('selected');   
  $('.featherlight #inbed').html('<option value="">In-Bed Track</option>');  
  $('.featherlight #inbed').removeClass('selected');   
    
    
  }else if (nextselection=='bed'){
    var filter = item.bed;
    label="Bed Length";
    
  $('.featherlight #inbed').html('<option value="">In-Bed Track</option>');  
  $('.featherlight #inbed').removeClass('selected');  
    
    
  }else{
  var filter = item.inbed;
  label="In-Bed Track";  
  }
  

  if (!(filter in lookup)) {
    lookup[filter] = 1;
    result.push(filter);
  }
}
result.sort(); 
var arrayLength = result.length;
for (var i = 0; i < arrayLength; i++) {
  optionselect = optionselect + '<option value="'+result[i]+'">'+result[i]+'</option>';
}
          optionselect = '<option value="">'+label+'</option>'+optionselect;           
          $('.featherlight #'+nextselection).html(optionselect);
          $('.featherlight #'+nextselection).addClass('selected')
          $('.featherlight #'+nextselection).removeClass('failed');
          }       
 },
 error: function(e, s) {
   console.log('cannot load data');           
        }
    }) 
    
    
  }
  
 
  
}); 
    
    
    
 $('.search-products').click(function(ev){
  ev.preventDefault();
  ev.stopPropagation(); 
var make;
var model;
var year;
var bed;
var inbed; 

if ($('.featherlight-content #make').length){  
var make = $('.featherlight-content #make').val();
}
if ($('.featherlight-content #model').length){  
 model = $('.featherlight-content #model').val();
}
if ($('.featherlight-content #year').length){  
 year = $('.featherlight-content #year').val();
 }
if ($('.featherlight-content #bed').length){  
 bed = $('.featherlight-content #bed').val();
}
if ($('.featherlight-content #inbed').length){  
 inbed = $('.featherlight-content #inbed').val();
}
  
  
var err=0;
$('.featherlight-content select').each(function(){
  var item = $(this).attr('id');
  if (($(this).val()==0 || $(this).val()=='') &&  $(this).is(":visible")==true){
  err++;
  $(this).addClass('failed');
  } else {
   $(this).removeClass('failed'); 
  }  
});

  if ($('.featherlight-content .failed').length==0){ 
     
  $('.filter-result-content').html(resulttitle);
  setCookie('make', make, 3600);
  setCookie('model', model, 3600);
  setCookie('year', year, 3600);
  setCookie('bed', bed, 3600);
  setCookie('inbed', inbed, 3600); 

if ($('#collection_id').val()!=''){
var collection = $('#collection_id').val();
var urlprduct = domainurl + "/diamondback/api_call_get_products_configuration.php?param=product&collection="+collection+"&make=" + make +"&model=" + model + "&year=" + year + "&bed=" + bed + "&inbed=" + inbed;

$.ajax({
        url: urlprduct,
        cache: !1,
        dataType: "json",
        type: "GET",
        success: function(s) {              
        var lookup = {};
		         if (s!='') {
var items = s;
var result = [];
var optionselect = '';          
var label='';
          
for (var item, i = 0; item = items[i++];) {
var product = item.product_id;
var handle = item.handle;
}
var variantlocation = protocol + '//'+websiteaddress+'/products/'+handle+'?variant='+product;
document.location.href=variantlocation;
}
else {
$(this).closest('form').submit();
}

         }
		 });






} 
else {
 $(this).closest('form').submit();
   } 
   }
});   
    
    
    
    
    });
  
  

function startCustomSearch(){
if (make!=''){

make = replaceHTMLSYMB(make) 

var model = getCookies('model');
model = replaceHTMLSYMB(model) 

var year = getCookies('year');
year = replaceHTMLSYMB(year) 

var bed = getCookies('bed');
bed = replaceHTMLSYMB(bed) 

var inbed = getCookies('inbed'); 
inbed = replaceHTMLSYMB(inbed)   

var searchparam=make+','+model+','+bed+','+','+inbed+','+year;
  
var websiteaddress = document.location.host;
var protocol = document.location.protocol
$.ajax({

		url: protocol + "//" + websiteaddress + "/search?view=json&type=product&q="+searchparam,
        cache: !1,
        dataType: "json",
        type: "GET",
        success: function(s) {              
        var lookup = {};
          
        
 make = replaceSpace(make) 
 model = replaceSpace(model) 
 year = replaceSpace(year) 
 bed = replaceSpace(bed) 
 inbed = replaceSpace(inbed)        
      

	  
          
var items = s;
var result = [];
var productgrid='';
var id;
 var title;
  var handle;
  var price;  
  var sku;
  var src;
  var variants;
  
for (var item, i = 0; item = items[i++];) {
  id = item.id;
  title = item.title;
  handle = item.handle;
  price = item.price;  
  sku = item.sku;
  src = item.images;
  
  variants = item.variants;
  
  for (var variant, i = 0; variant = variants[i++];) {  
   titla_variant = variant.title;
   titla_variant= titla_variant.toUpperCase();
   
   titla_variant = replaceHTMLSYMB(titla_variant);
   titla_variant = replaceSpace(titla_variant);
   
   price = variant.price; 
   sku = variant.sku;
   
   if (titla_variant.indexOf(make)>-1 && titla_variant.indexOf(model)>-1 && titla_variant.indexOf(year)>-1 && titla_variant.indexOf(bed)>-1 ){
   varian_id = variant.id;
   variant_sku = sku;
   variant_price = price; 
   }
	
  }
  
  
  if (variant_price!=undefined){
   price = variant_price; 
  }
  price = price/100;
  price = price.formatMoney(2, '.', ',');
 
  
productgrid= '<div class="col-xs-3 col-sm-2 col-md-3 col-lg-3"><div class="grid-view-item">';
productgrid= productgrid + '<a class="grid-view-item__link" href="/products/'+handle+'?variant='+varian_id+'">';
productgrid= productgrid + '<img class="grid-view-item__image  main_image " data-img-count="1" src="'+src+'" alt="car cover">';
productgrid= productgrid + '<div class="h4 grid-view-item__title">'+title+'</div>';
productgrid= productgrid + '</a><div class="grid-view-item__meta">';
productgrid= productgrid + '<span class="visually-hidden">Regular price</span>';
productgrid= productgrid + '<span class="product-price__price">$'+price+'</span>';
productgrid= productgrid + '</div>';
productgrid= productgrid + '</div></div></div>';
  
}
  
 productgrid = '<div class="row">'+productgrid+'</div>';
$('.product-list').html(productgrid);         

        }

		});
}  

}
  
  
  
  
  
  
  
 $(document).ready(function(){
 $('#collection_id').val(''); 
   
    $('.configure_by_collection').click(function(ev){
 ev.preventDefault();
 ev.stopPropagation();   
  var collection = $(this).attr('data-collection');
  $('#collection_id').val(collection);
  LoadCollection();
      $('.truck-form').click();
    
  }); 
   
   
   
         function LoadCollection(collection){
        
 var collection=$('#collection_id').val();
 if (collection==''){
 var url= domainurl + "/diamondback/api_call_get_products_configuration.php?param=make";
  } else {
var url= domainurl + "/diamondback/api_call_get_products_configuration.php?param=make&collection="+collection;
 }  
$.ajax({
        url: url,
        cache: !1,
        dataType: "json",
        type: "GET",
        success: function(s) {              
        var lookup = {};
          
        
          
          
          
var items = s;
var result = [];
var optionselect = '';          

for (var item, i = 0; item = items[i++];) {
  var make = item.make;

  if (!(make in lookup)) {
    lookup[make] = 1;
    result.push(make);
  }
}
result.sort(); 
var arrayLength = result.length;
for (var i = 0; i < arrayLength; i++) {
  optionselect = optionselect + '<option value="'+result[i]+'">'+result[i]+'</option>';
}
        optionselect = '<option value="">MAKE</option>'+optionselect;           
         // $('.featherlight .make-wrapper select').html(optionselect);   
         $('.make-wrapper select').html(optionselect);    
                 
 },
 error: function(e, s) {
   console.log('cannot load data');           
        }
    })
      }			
   
  LoadCollection(); 
   
   
   if (pathname.indexOf('search-result')>-1){
    startCustomSearch();
   }
   if ($('label[for="SingleOptionSelector-0"]').length){
var LabelVal = $('label[for="SingleOptionSelector-0"]').html();
  if (LabelVal.indexOf('Vehicle')>-1){
    $('label[for="SingleOptionSelector-0"]').closest('.selector-wrapper').hide();

  }
}
   
   if ( $('.filter-result-content').length){
     if ($('.filter-result-content').html()==''){
      //$('#AddToCartText-simple-product').html('Configure'); 
	  $('#AddToCartText-simple-product').html('Add to Cart');
       $('#AddToCartText-accessories-configurable-product').html('Fit My Truck');
     }
	 
   }
   
  }); 
  
$('.youtube').click(function(ev){  
  ev.preventDefault();
  ev.stopPropagation(); 
  var link = $(this).attr('data-youtube');
  var w= $(window).width();
  var h=$(window).height();  
 $('.youtube-content').html('<iframe id="playerID" src="'+link+'&autoplay=1"" allowfullscreen frameborder="0" width="'+w+'" height="'+h+'"></iframe>'); 
  $('.youtube-wrapper').show()
  
});
$('.youtube-wrapper .close_btn').click(function(ev){  
  ev.preventDefault();
  ev.stopPropagation(); 
$('.youtube-wrapper').hide();
 $('.youtube-content').html('');   
});
  
  
 $('.mobile-close').click(function(){
  $('.mobile-nav').removeClass('active') 
  $('body').removeClass('off-canvas-active')
$(".mobile-nav-wrapper-main").animate({"left":"-250px"}, "fast");
$(".mobile-nav-wrapper-main").hide();   
 })  

$('.customer-service-wrapper h3').click(function(){
  if ($('.fa-angle-down').is(":visible")  == true){
  
  if ($(this).hasClass('active')==true){
  $(this).removeClass('active');
  $('ul.customer-service').slideUp();  
    
    
  } else {
   $(this).addClass('active');
  $('ul.customer-service').slideDown();    
    
    
  }
  
  }
  
}) 
$('.filter-items').click(function(){
  $('.filter-items').removeClass('active');
  $(this).addClass('active');
  
var filtItem = $(this).attr('data-filter');
  
var FilterSection = $('.compare-filter-item[data-filter="'+filtItem+'"]').html();  
$('.compare-container').html(FilterSection);  
var colHeight = $('.atv-first-data').height();
$('.collection-atv-wrapper.grid-first-atv-compare').height(colHeight);  
});
</script>