{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}

 <link href="{{ 'slick.css' | asset_url }}" rel="stylesheet" type="text/css" media="all" />
 <script src="{{ 'slick.min.js' | asset_url }}" type="text/javascript"></script>
<script type="text/javascript">		
    $BV.ui( 'rr', 'inline_ratings', {		
    productIds : ['ATV-SIDE', 'ATV-REAR'],		
    containerPrefix : 'BVRRInlineRating'		
    });		
</script>

<div class="custom-collection-wrapper atv-collection">
<section class="banner atv-banner">
  <div class="banner-content-wrapper">
  <div class="banner-content">
     
     <div class="banner-title">
    HAUL YOUR ATVS
  </div>
      <div class="banner-sub-title">
    AND SECURE YOUR GEAR BELOW
  </div>
    <div class="banner-sm-title">with the DiamondBack ATV Carrier.</div>
    <a href="#products" class="banner-btn">Learn More</a>
    <a href="#" data-collection="356840329" class="configure_by_collection banner-btn">Fit My Truck</a>
  </div>
    </div>
 
  
  <div class="gallery-product">
	<div>
	<img src="https://cdn.shopify.com/s/files/1/1571/5355/files/atv-main-banner_ccf884a1-c8a7-4793-bcb7-a0f91a5e97ad.png?17700654302731039324" alt="Shop for DIAMONDBACK"/>
	</div>
	<div>
		<img src="https://cdn.shopify.com/s/files/1/1571/5355/files/ATV-Collection-Gallery-1_94e0ea0d-3cb7-4097-a04a-4c9dd989ddfd.png?11288704803009799694"  alt="Shop for DIAMONDBACK"  />
		</div>		
    <div>
		<img src="https://cdn.shopify.com/s/files/1/1571/5355/files/ATV-Collection-Gallery-2.png?13553195329728596126"  alt="Shop for DIAMONDBACK"  />
		</div>
    <div>
		<img src="https://cdn.shopify.com/s/files/1/1571/5355/files/ATV-Collection-Gallery-3.png?13553195329728596126"  alt="Shop for DIAMONDBACK"  />
		</div>
     
</div>
{% include 'product-gallery-js' %}
  
  
  
 </section>
  
  <section class="see-how">
	<div class="wrapper">   
		<div class="tabs"></div>
		<div class="row">	 
			<div class="column">
				<h1>SEE HOW THE DIAMONDBACK ATV CARRIER WORKS.</h1>
				<a href="#" data-youtube="https://www.youtube.com/embed/3zeUkAO0P2U?rel=0" class="section-link youtube">Learn about the parts of the DiamondBack ATV Carrier ></a>
			</div> 
		</div> 
	</div>             
</section>

<!--section class="atv-more-info">
  <div class="container">
        <div class="row">	 
           <div class="col-lg-12">
             <h1 class="whitetitle">SEE HOW THE DIAMONDBACK ATV CARRIER WORKS.</h1>
            <a href="#" data-youtube="https://www.youtube.com/embed/3zeUkAO0P2U?rel=0" class="section-link youtube">Learn about the parts of the DiamondBack ATV Carrier ></a>
          </div></div></div>  
</section-->
  
  
  <a id="products"></a>  
<section class="banner-product">
	<div class="wrapper">
		<div class="column-hidden image atvs">
			<h4>DiamondBack</h4>
			<h3>ATV<span>S</span></h3>
		</div>
		<div class="column image right atvs"></div>
		<div class="column copy">
<h4>DiamondBack</h4>
<h3>ATV<span>S</span></h3>
<h1>Side-Loading ATV Carrier</h1>
<h2>For 1 or 2 ATVs.</h2>
          <div class="price-and-rating">
            <div class="price-info">
				<div class="price">FROM<br><span>$2,149</span></div>
            </div>
            <div class="bv-container">
                            <div id="BVRRInlineRating-ATV-SIDE"></div>
                        </div>
          </div>
			<div class="btns"><a href="/products/diamondbackatvs">EXPLORE</a> / <a href="#" data-collection="381500361" class="configure_by_collection">BUY NOW</a></div>
		</div>
	</div>
</section>

<section class="banner-product">
	<div class="wrapper gray">
		<div class="column-hidden image atvr">
			<h4>DiamondBack</h4>
			<h3>ATV<span>R</span></h3>
		</div>
		<div class="column image atvr"></div>
		<div class="column copy">
<h4>DiamondBack</h4>
<h3>ATV<span>R</span></h3>
<h2>Rear-Loading ATV Carrier</h2>
<h1>For 1 ATV.</h1>
        <div class="price-and-rating">
            <div class="price-info">
				<div class="price">from<br><span>$2,199</span></div>
          </div>
          <div class="bv-container">
                            <div id="BVRRInlineRating-ATV-REAR"></div>
                        </div>
          </div>
			<div class="btns"><a href="/products/diamondbackatvr">EXPLORE</a> / <a href="#" data-collection="382306505" class="configure_by_collection">BUY NOW</a></div>
	</div>
</section>

<section class="banner-product">
	<div class="wrapper">
		<div class="column-hidden image sxs">
			<h4>DiamondBack</h4>
			<h3>SXS</h3>
		</div>
		<div class="column image right sxs"></div>
		<div class="column copy">
<h4>DiamondBack</h4>
<h3>SXS</h3>
<h2>Side-By-Side Carrier</h2>
<h1>For 1 SXS.</h1>
<div class="price">FROM<br><span>$2,549</span></div>
<div class="btns"><a href="/products/diamondbacksxs">EXPLORE</a> / <a href="#" data-collection="354293257" class="configure_by_collection">BUY NOW</a></div>
		</div>
	</div>
</section>

<section class="get-ready">
	<div class="tabs"></div>
		<div class="wrapper">
	
		<div class="row">
			<h1>Get Ready</h1>
			<h2>With Diamondback</h2>
		</div> 
    <div class="spacer"></div>
		<div class="row">
			<div class="column">	
				<div class="img-wrapper">
					<li class="get-ready-icon"><img src="{{ 'get-ready-01.svg' | asset_url }}" alt="Cover" /></li>
 				</div>
 				<div class="title"><span>1.</span> Choose Your Cover</div>
 			</div> 
 	
 			<div class="column">	
	 			<div class="img-wrapper">
	 				<li class="get-ready-icon"><img src="{{ 'get-ready-02.svg' | asset_url }}" alt="Order" /></li>
 				</div>
 				<div class="title"><span>2.</span>Order &amp; Track</div>
  			</div> 
  			<div class="column">	
	  			<div class="img-wrapper">
	  				<li class="get-ready-icon-last"><img src="{{ 'get-ready-03.svg' | asset_url }}" alt="Install" /></li>
 				</div>
 				<div class="title"><span>3.</span>Install &amp; <b>Be Ready</b> </div>
 			</div> 
 		</div>
	</div>
</section>
  
<section class="compare-atv">
  <div class="tabs"></div> 
	
  <div class="wrapper">     
        <div class="row">	 
			<h1>Compare DiamondBack ATV/SXS Carriers</h1>
            <h2>Discover which hauling setup is best for you.</h2> 
        </div>
      	
    	<div class="row-btn">
          	<div class="column">
				<div class="btn-wrapper">
              		<!--div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"-->	
				  		<!--a href="/pages/compare-diamondback-atv-sxs" class="btn">Compare</a-->
              		<!--/div-->
            	</div>
            </div>
            <div class="column">
			  	<!--div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"-->	
				  		<a href="#" data-youtube="https://www.youtube.com/embed/wX2RtIq84Xc?rel=0" class="link youtube"><img src="{{ 'play.svg' | asset_url }}" alt="Play" style="margin-right:2px;" />Watch <span>Which Carrier is Right For You</span></a>
              	<!--/div-->
            </div>
         </div>
      </div>            
</section>

<section class="atv-safety">
   <div class="wrapper">
        <div class="row">	 
			<div class="video-content">
            	<h1>See how you’ll feel safe loading, transporting, and unloading your ATVs.</h1>
              <p><a href="#" data-youtube="https://www.youtube.com/embed/RmAw4fBO9IA?rel=0" class="section-link youtube">Learn more about the safety of our ATV hauling accessories &gt; </a></p>
        	</div> 
  		</div> 
 	</div> 
</section>


<style>
/* .video-content {
    position: absolute;
    z-index: 10;
}
.video-full {
    transform: scale(8);
}
  .video-wrapper-main {
    width: 100%;
    height: 700px;
    overflow: hidden;
  }
  */

  #shopify-section-collection-template{
    display: none;
  }

</style>
{% section 'collection-template' %}
</div>  

