 <link href="{{ 'slick.css' | asset_url }}" rel="stylesheet" type="text/css" media="all" />
 <script src="{{ 'slick.min.js' | asset_url }}" type="text/javascript"></script>

<section class="banner product-gallery">
  <div class="banner-content-wrapper">
  <div class="banner-content home-banner">
    
    
    
    <!-- keeping this section customer wants for A/B -->
    <div style="display: none">
     <div class="banner-title">
    Protect Your Gear
  </div>
      <div class="banner-sub-title">
    with the toughest, most secure truck bed cover.
  </div>
    </div>
    
    
    <div class="home-banner">
    <div class="home-b-sub">Your</div>
<div class="banner-title">
   FORT KNOX
  </div>
  <div class="banner-sub-title">
    built to last, worry-free
  </div>
  <div class="home-h-sub">Truck Bed Cover</div>
    </div>
    
    
    <a href="/collections/covers" class="banner-btn">Buy Now</a>
  </div>
    </div>
<div class="gallery-product home">
	<div>
	<img src="https://cdn.shopify.com/s/files/1/1571/5355/files/home-2-xl.png?16037616539439318910" alt="Shop for DIAMONDBACK"  />
	</div>
	<div>
		<img src="https://cdn.shopify.com/s/files/1/1571/5355/files/home-1-xl.png?16037616539439318910"  alt="Shop for DIAMONDBACK"  />
		</div>
		<div>
		<img src="https://cdn.shopify.com/s/files/1/1571/5355/files/home-3-xl.png?16037616539439318910"  alt="Shop for DIAMONDBACK"  />
		</div>
</div>
{% include 'product-gallery-js' %}
 </section>


<section class="banner">
	<div class="wrapper">
		<div class="column copy-right">
			<h2>Be Ready</h2>
           <h1>For The Next Adventure.</h1>
		<p>Whether it’s a vacation trip to the beach with the family or a hunting trip across the country with the buddies, you can feel conﬁdent with a DiamondBack. Because we all want a cover we can trust in any situation. Trust that our gear will stay dry and secure and that the cover will last a lifetime. Trust that we’ll be ready for anything.</p><br>
          <div class="btn-wrapper"><a href="/collections/covers" class="btn">Get Ready Now</a></div>
		</div>
		<div class="column be-ready"></div>
	</div>
</section>

  <!--section class="home-cms-about home-ready">
 <div class="container">
        <div class="row">
	 <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">	
	  </div>
	  	 <div class="col-xs-12 col-sm-12  col-md-5 col-lg-5">
		 <div class="hm-1-2">
		 <div class="home-cms-about-wrapper">
		 <h1>Be Ready</h1>
		 <h2>For The Next Adventure.</h2>
		 <div class="home-about-content">Whether it’s a vacation trip to the beach with the family or a hunting trip across the country with the buddies, you can feel conﬁdent with a DiamondBack. Because we all want a cover we can trust in any situation. Trust that our gear will stay dry and secure and that the cover will last a lifetime. Trust that we’ll be ready for anything.</div>
		 <div class="btn-wrapper"><a href="/collections/covers" class="btn">Get Ready Now</a></div>
		 </div>
		  </div>
		  <div class="zubriki-wrapper">
          <div class="white-zubriki-bottom"></div>
		  </div>
		  
	  </div>
 </div> 
 </div>
 </section-->

<section class="home-trusted">
  <div class="container">
        <div class="row">
	<div class="col-lg-12">	
 <h1 class="cont-title-1 cont-title-light">Trusted By Professionals</h1>
 </div> 
  </div>
    
  
   <div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6  col-lg-5 logos-wrapper">	
 <ul class="logos">
   <li class="col-xs-12 col-sm-6 col-lg-6"><img src="{{ 'pros-all.svg' | asset_url }}" alt="Professionals" style="min-width:400px; margin-right: 50px; margin-top: 50px;" class="hidden-3 hidden-2"/>
     <img src="{{ 'trust-tablet.svg' | asset_url }}" alt="Professionals" style="min-width:400px; margin-right: 50px; margin-top: 50px;" class="hidden-5 hidden-4 hidden-1"/></li>

 
   <!--li class="col-xs-12 col-sm-6 col-lg-6"><img src="{{ 'pros-01.svg' | asset_url }}" alt="Terminex" /></li>
    <li class="col-xs-12 col-sm-6  col-lg-6"><img src="{{ 'pros-02.svg' | asset_url }}" alt="DirtTrax" /></li>
    <li class="col-xs-12 col-sm-4  col-lg-4"><img src="{{ 'pros-03.svg' | asset_url }}" alt="Sprint" /></li>
    <li class="col-xs-12 col-sm-4  col-lg-4 mdl"><img src="{{ 'pros-04.svg' | asset_url }}" alt="BorderPatrol" /></li>
    <li class="col-xs-12  col-sm-4 col-lg-4"><img src="{{ 'pros-05.svg' | asset_url }}" alt="Crush" /></li-->
      </ul>
 </div> 
     <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">	
 <div class="testimonials">
   <div class="tsm-item">
   <img src="{{ 'pros-06.svg' | asset_url }}" alt="AAA" />
     <div class="tst-content">“We need reliable truck covers so we can be reliable for others. A DiamondBack gives us peace of mind that our tools and equipment will be dry and secure.”<br/><br/>
       <span>— Nick, AAA</span></div>  
   </div> 
   <div class="tsm-item">
   <img src="{{ 'pros-07.svg' | asset_url }}" alt="KEEFER" />
     <div class="tst-content">“We hunt in extreme conditions so we choose DiamondBacks for our trucks. They’ve been the only truck covers that can handle what we throw at them.”<br/><br/>
       <span>— Casey, Keefer Bros.</span></div>  
   </div> 
       </div>
 </div>
     
  </div>
    </div> 
</section>

<section class="why-buy">  
	<div class="tabs"></div> 
	<div class="wrapper">
        <div class="row">	
				<h1>Why Buy a Diamondback?</h1>
  		</div> 
  		<div class="spacer"></div>
        <div class="row">
			<div class="column">	
				<div class="img-wrapper">
					<div class="img">
						<img src="{{ 'why-buy-01.svg' | asset_url }}" style="width:100px;" alt="Buy with Peace of Mind" />
 					</div>
 				</div>
 				<div class="title"><span class="home">Peace of Mind</span></div>
 				<div class="content">A secure truck bed so you don't have to worry.</div>
 			</div> 
 	
 			<div class="column">	
	 			<div class="img-wrapper">
	 				<div class="img-fist">
	 					<img src="{{ 'why-buy-02.svg' | asset_url }}" style="width:100px;" alt="Buy with Confidence" />
 					</div>
 				</div>
 				<div class="title"><span class="home">Buy With Confidence</span></div>
 				<div class="content">The last bed cover you'll buy for your truck.</div>
 			</div> 
 	
 			<div class="column">	
	 			<div class="img-wrapper">
	 				<div class="img">
	 					<img src="{{ 'why-buy-03.svg' | asset_url }}" style="width:100px;" alt="Lifetime Warranty" />
 					</div>
 				</div>
 				<div class="title"><span class="home">Lifetime Warranty</span></div>
 				<div class="content">The best warranty of any hard truck bed cover.</div>
 			</div> 
 			<div class="btn-wrapper">
 					<a href="#" data-youtube="https://www.youtube.com/embed/mWlxnJBlfnA?rel=0" class="youtube btn-secondary">See More</a>
 				</div>
  		</div> 
 	</div> 
</section> 

  <section class="haul-ready">
	<div class="wrapper">
        <div class="column">
	        <div class="content">
				<h4>Haul it all.</h4>
					<a href="/collections/atv-sxs-carriers" class="btn">Explore ATV/SXS</a>
	 		</div>
        </div>
	 	<div class="column">
		 	<div class="content">
	 				<h4>#Diamondback<span>ready</span></h4>
	 				<div class="action">
	 					<a href="" class="btn">View the Gallery</a> <a href="" class="file-upload">&gt; Upload your own photo</a>
	 				</div>
	 				<!-- Begin Bazaarvoice Curations Embed Code -->
	 				<script src="//static.curations.bazaarvoice.com/gallery/diamondback/prod/loader.js"></script>
	 				<script type="text/javascript">
	 				BVWidgets.display({});
    				</script>
					<!-- BV INJECTION GRID -->
					<div id="bv-carousel"></div>
					<!-- End Bazaarvoice Curations Embed Code -->
	 		</div>
	  	</div>
	</div>
</section>