 <!--div class="about-menu">
    <div class="container">
  <div class="row">
     {% include 'menu-about' %}
     </div>
       </div>
  </div-->

<section class="how-we-do-it">
  <div class="content">
  <h1>THE BRAINS BEHIND THE BRAWN.</h1>
  <p class="center">A patented design combining diamond plate aluminum and structural support studs provides the platform for a new way of hauling with your truck.</p>
    <img class="patent" src="{{ 'icon-how-patent.svg' | asset_url }}" alt="US Patent 6,883,855" />
    <img src="{{ 'img-how-we-do-it-lines.png' | asset_url }}" alt="How We Do It" class="lines" />
    <img src="{{ 'img-how-we-do-it-no-lines.png' | asset_url }}" alt="How We Do It" class="no-lines" />
    <ul>
      <li>
        <h2>Load it up.<br>Strap it down.</h2>
        <p>With the ability to haul on top, securing items to the cover becomes an important part of owning a DiamondBack. Tie-down cleats are used for strapping loads to the top of your DiamondBack or for securing panels that are folded back when hauling tall cargo.</p>
        <div class="bullets">
        	<img class="icon" src="{{ 'icon-how-01.svg' | asset_url }}" alt="DiamondBack" />
        	<ul>
              <li><strong>High-strength, heavy duty nylon boating cleat</strong></li>
              <li><strong>1200 lb. tensile strength</strong></li>
              <li><strong>Up to 12 tie-down cleats pre-installed</strong></li>
          	</ul>
        </div>
      </li>
      <li>
        <h2>Our cover has thick skin.</h2>
        <div class="bullets">
        	<img class="icon" src="{{ 'icon-how-02.svg' | asset_url }}" alt="DiamondBack" />
        	<ul>
              <li>HD = <strong>.100” 3003 alloy aluminum grade</strong></li>
              <li>SE/270/180 = <strong>.080” 3003 alloy aluminum grade</strong></li>
          	</ul>
        </div>
      </li>
      <li>
        <h2>Something clever about studs.</h2>
        <p>Structural support studs spread cargo weight out over all four bed rails of your truck. They’re the “ribs” of the cover, giving it strength unmatched by any other tonneau cover on the market.</p>
      	<div class="bullets">
        	<img class="icon" src="{{ 'icon-how-03.svg' | asset_url }}" alt="DiamondBack" />
        	<ul>
              <li><strong>Haul up to 1,600 lbs</strong></li>
          	</ul>
        </div>
      </li>
    </ul>
  </div>
</section>