<div class="page-width compare-collection">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>Compare DiamondBack Models</h1>
      </div>
      <div class="compare-batches-wrapper">
	  <div class="row">
	  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><img src="{{ 'compare-01.svg' | asset_url }}" style="max-width:40px; min-height:40px; margin-right:5px;" /><strong>Shipped</strong> to your door</div>
	  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><img src="{{ 'compare-02.svg' | asset_url }}" style="max-width:40px; min-height:40px; margin-right:5px;" />Built in the <strong>USA</strong></div>
	  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><img src="{{ 'compare-03.svg' | asset_url }}" style="max-width:35px; min-height:35px; margin-right:5px;" /><strong>Lifetime</strong> Warranty</div>
	  </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 swipe-msg hidden-lg">
         Swipe Left/Right to View Table
           </div>
         </div>
	  </div>
      <div class="rte">
       <section class="compare-container">
	   <div class="container">
	   <div class="row">
	   
	   <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 compare-collection-item first">
	   <img src="https://cdn.shopify.com/s/files/1/1571/5355/files/HD-black-aluminum-hard-locking-tonneau-cover-back.jpg?2699944846586836961" />
	   <h1 itemprop="name" class="product-single__title">DIAMONDBACK<span>HD</span><span class="copy">&reg;</span></h1>
	   <div class="price-label">Starting MSRP</div>
	   <div class="prod-price">$1,449</div>
	   <div class="btn-wrapper">
	    <a href="/products/diamondbackhd" class="btn btn_grey">EXPLORE</a>
	  <a href="#" data-collection="354293129" class="configure_by_collection btn ">BUY NOW</a>
	   </div>
	   <div class="compare-item-collection">
	   <div class="img-comp"><img src="{{ 'comp-01.svg' | asset_url }}" style="max-width:33px; max-height:33px; margin-top:6px; margin-right:6px;" /></div>
	   <div class="comp-specs">
	   <div class="spec-title">Haul Capacity</div>
	   <div class="spec-value">1,600<span class="spec-measure">LBS</span></div>
	   </div>
	   </div>
	   
	    <div class="compare-item-collection">
	   <div class="img-comp"><img src="{{ 'comp-02.svg' | asset_url }}" style="max-width:33px; max-height:33px; margin-top:6px; margin-right:6px;" /></div>
	   <div class="comp-specs">
	   <div class="spec-title">Access Panels</div>
	   <div class="spec-value">2</div>
	   </div>
	   </div>
	   
	   <div class="compare-item-collection">
	   <div class="img-comp"><img src="{{ 'comp-03.svg' | asset_url }}" style="max-width:33px; max-height:33px; margin-top:6px; margin-right:6px;" /></div>
	   <div class="comp-specs">
	   <div class="spec-title">CLEATS Installed</div>
	   <div class="spec-value">12</div>
	   </div>
	   </div>
	   
	   <div class="compare-item-collection">
	   <div class="img-comp"><img src="{{ 'comp-04.svg' | asset_url }}" style="max-width:33px; max-height:33px; margin-top:6px; margin-right:6px;" /></div>
	   <div class="comp-specs">
	   <div class="spec-title">Aluminum Grade</div>
	   <div class="spec-value">.100"</div>
	   </div>
	   </div>
	   
	   <div class="compare-item-collection">
	   <div class="img-comp"><img src="{{ 'comp-05.svg' | asset_url }}" style="max-width:33px; max-height:33px; margin-top:6px; margin-right:6px;" /></div>
	   <div class="comp-specs">
	   <div class="spec-title">Removal Time</div>
	   <div class="spec-value">10<span class="spec-measure">MIN</span></div>
	   </div>
	   </div>
	   
	   <div class="compare-item-collection">
	   <div class="img-comp"><img src="{{ 'comp-06.svg' | asset_url }}" style="max-width:33px; max-height:33px; margin-top:6px; margin-right:6px;" /></div>
	   <div class="comp-specs">
	   <div class="spec-title">Tall Cargo</div>
	   <div class="spec-value">YES</div>
	   </div>
	   </div>
	   
	   <div class="compare-item-collection">
	   <div class="img-comp"><img src="{{ 'comp-07.svg' | asset_url }}" style="max-width:33px; max-height:33px; margin-top:6px; margin-right:6px;" /></div>
	   <div class="comp-specs">
	   <div class="spec-title">Max Panel Weight</div>
	   <div class="spec-value">50<span class="spec-measure">LBS</span></div>
	   </div>
	   </div>
	   
	   <div class="compare-item-collection">
	   <div class="img-comp"><img src="{{ 'comp-07.svg' | asset_url }}" style="max-width:33px; max-height:33px; margin-top:6px; margin-right:6px;" /></div>
	   <div class="comp-specs">
	   <div class="spec-title">Total Weight</div>
	   <div class="spec-value">125<span class="spec-measure">LBS</span></div>
	   </div>
	   </div>  
	   
	   </div>
	   
	 
	   <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-lg-3 compare-collection-item">
	   <img src="https://cdn.shopify.com/s/files/1/1571/5355/files/SE-black-aluminum-locking-tonneau-cover-angle-open.jpg?15141636822505914213" />
	   <h1 itemprop="name" class="product-single__title">DIAMONDBACK<span>SE</span><span class="copy">&reg;</span></h1>
	   <div class="price-label">Starting MSRP</div>
	   <div class="prod-price">$1,049</div>
	   <div class="btn-wrapper">
	  <a href="/products/diamondbackse" class="btn btn_grey">EXPLORE</a>
	    <a href="#" data-collection="354293065" class="configure_by_collection btn ">BUY NOW</a>
	   </div>
	   <div class="compare-item-collection">
	   <div class="img-comp"><img src="{{ 'comp-01.svg' | asset_url }}" style="max-width:33px; max-height:33px; margin-top:6px; margin-right:6px;" /></div>
	   <div class="comp-specs">
	   <div class="spec-title">Haul Capacity</div>
	   <div class="spec-value">400<span class="spec-measure">LBS</span></div>
	   </div>
	   </div>
	   
	    <div class="compare-item-collection">
	   <div class="img-comp"><img src="{{ 'comp-02.svg' | asset_url }}" style="max-width:33px; max-height:33px; margin-top:6px; margin-right:6px;" /></div>
	   <div class="comp-specs">
	   <div class="spec-title">Access Panels</div>
	   <div class="spec-value">2</div>
	   </div>
	   </div>
	   
	   <div class="compare-item-collection">
	   <div class="img-comp"><img src="{{ 'comp-03.svg' | asset_url }}" style="max-width:33px; max-height:33px; margin-top:6px; margin-right:6px;" /></div>
	   <div class="comp-specs">
	   <div class="spec-title">CLEATS Installed</div>
	   <div class="spec-value">4</div>
	   </div>
	   </div>
	   
	   <div class="compare-item-collection">
	   <div class="img-comp"><img src="{{ 'comp-04.svg' | asset_url }}" style="max-width:33px; max-height:33px; margin-top:6px; margin-right:6px;" /></div>
	   <div class="comp-specs">
	   <div class="spec-title">Aluminum Grade</div>
	   <div class="spec-value">.080"</div>
	   </div>
	   </div>
	   
	   <div class="compare-item-collection">
	   <div class="img-comp"><img src="{{ 'comp-05.svg' | asset_url }}" style="max-width:33px; max-height:33px; margin-top:6px; margin-right:6px;" /></div>
	   <div class="comp-specs">
	   <div class="spec-title">Removal Time</div>
	   <div class="spec-value">10<span class="spec-measure">MIN</span></div>
	   </div>
	   </div>
	   
	   <div class="compare-item-collection">
	   <div class="img-comp"><img src="{{ 'comp-06.svg' | asset_url }}" style="max-width:33px; max-height:33px; margin-top:6px; margin-right:6px;" /></div>
	   <div class="comp-specs">
	   <div class="spec-title">Tall Cargo</div>
	   <div class="spec-value">YES</div>
	   </div>
	   </div>
	   
	   <div class="compare-item-collection">
	   <div class="img-comp"><img src="{{ 'comp-07.svg' | asset_url }}" style="max-width:33px; max-height:33px; margin-top:6px; margin-right:6px;" /></div>
	   <div class="comp-specs">
	   <div class="spec-title">Max Panel Weight</div>
	   <div class="spec-value">35<span class="spec-measure">LBS</span></div>
	   </div>
	   </div>
	   
	   <div class="compare-item-collection">
	   <div class="img-comp"><img src="{{ 'comp-07.svg' | asset_url }}" style="max-width:33px; max-height:33px; margin-top:6px; margin-right:6px;" /></div>
	   <div class="comp-specs">
	   <div class="spec-title">Total Weight</div>
	   <div class="spec-value">90<span class="spec-measure">LBS</span></div>
	   </div>
	   </div>
	   
	   
	   </div>




	   <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 compare-collection-item">
	   <img src="https://cdn.shopify.com/s/files/1/1571/5355/files/270-black-aluminum-toolbox-tonneau-cover-back.jpg?10738671163901881515" />
	   <h1 itemprop="name" class="product-single__title">DIAMONDBACK<span>270</span><span class="copy">&reg;</span></h1>
	   <div class="price-label">Starting MSRP</div>
	   <div class="prod-price">$1,449</div>
	   <div class="btn-wrapper">
	   <a href="/products/diamondback270" class="btn btn_grey">EXPLORE</a>
	   <a href="#" data-collection="354293577" class="configure_by_collection btn">BUY NOW</a>
	   </div>
	   <div class="compare-item-collection">
	   <div class="img-comp"><img src="{{ 'comp-01.svg' | asset_url }}" style="max-width:33px; max-height:33px; margin-top:6px; margin-right:6px;" /></div>
	   <div class="comp-specs">
	   <div class="spec-title">Haul Capacity</div>
	   <div class="spec-value">400<span class="spec-measure">LBS</span></div>
	   </div>
	   </div>
	   
	    <div class="compare-item-collection">
	   <div class="img-comp"><img src="{{ 'comp-02.svg' | asset_url }}" style="max-width:33px; max-height:33px; margin-top:6px; margin-right:6px;" /></div>
	   <div class="comp-specs">
	   <div class="spec-title">Access Panels</div>
	   <div class="spec-value">3</div>
	   </div>
	   </div>
	   
	   <div class="compare-item-collection">
	   <div class="img-comp"><img src="{{ 'comp-03.svg' | asset_url }}" style="max-width:33px; max-height:33px; margin-top:6px; margin-right:6px;" /></div>
	   <div class="comp-specs">
	   <div class="spec-title">CLEATS Installed</div>
	   <div class="spec-value">0</div>
	   </div>
	   </div>
	   
	   <div class="compare-item-collection">
	   <div class="img-comp"><img src="{{ 'comp-04.svg' | asset_url }}" style="max-width:33px; max-height:33px; margin-top:6px; margin-right:6px;" /></div>
	   <div class="comp-specs">
	   <div class="spec-title">Aluminum Grade</div>
	   <div class="spec-value">.080"</div>
	   </div>
	   </div>
	   
	   <div class="compare-item-collection">
	   <div class="img-comp"><img src="{{ 'comp-05.svg' | asset_url }}" style="max-width:33px; max-height:33px; margin-top:6px; margin-right:6px;" /></div>
	   <div class="comp-specs">
	   <div class="spec-title">Removal Time</div>
	   <div class="spec-value">10<span class="spec-measure">MIN</span></div>
	   </div>
	   </div>
	   
	   <div class="compare-item-collection">
	   <div class="img-comp"><img src="{{ 'comp-06.svg' | asset_url }}" style="max-width:33px; max-height:33px; margin-top:6px; margin-right:6px;" /></div>
	   <div class="comp-specs">
	   <div class="spec-title">Tall Cargo</div>
	   <div class="spec-value">YES</div>
	   </div>
	   </div>
	   
	   <div class="compare-item-collection">
	   <div class="img-comp"><img src="{{ 'comp-07.svg' | asset_url }}" style="max-width:33px; max-height:33px; margin-top:6px; margin-right:6px;" /></div>
	   <div class="comp-specs">
	   <div class="spec-title">Max Panel Weight</div>
	   <div class="spec-value">35<span class="spec-measure">LBS</span></div>
	   </div>
	   </div>
	   
	   <div class="compare-item-collection">
	   <div class="img-comp"><img src="{{ 'comp-07.svg' | asset_url }}" style="max-width:33px; max-height:33px; margin-top:6px; margin-right:6px;" /></div>
	   <div class="comp-specs">
	   <div class="spec-title">Total Weight</div>
	   <div class="spec-value">110<span class="spec-measure">LBS</span></div>
	   </div>
	   </div>
	   
	   
	   </div>



	   <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 compare-collection-item">
	   <img src="https://cdn.shopify.com/s/files/1/1571/5355/files/180-black-aluminum-butterfly-tonneau-cover-angle-open.jpg?7468107412560048372" />
	   <h1 itemprop="name" class="product-single__title">DIAMONDBACK<span>180</span><span class="copy">&reg;</span></h1>
	   <div class="price-label">Starting MSRP</div>
	   <div class="prod-price">$1,249</div>
	   <div class="btn-wrapper">
	   <a href="/products/diamondback180" class="btn btn_grey">EXPLORE</a>
	   <a href="#" data-collection="354293641" class="configure_by_collection btn">BUY NOW</a>
	   </div>
	   <div class="compare-item-collection">
	   <div class="img-comp"><img src="{{ 'comp-01.svg' | asset_url }}" style="max-width:33px; max-height:33px; margin-top:6px; margin-right:6px;" /></div>
	   <div class="comp-specs">
	   <div class="spec-title">Haul Capacity</div>
	   <div class="spec-value">400<span class="spec-measure">LBS</span></div>
	   </div>
	   </div>
	   
	    <div class="compare-item-collection">
	   <div class="img-comp"><img src="{{ 'comp-02.svg' | asset_url }}" style="max-width:33px; max-height:33px; margin-top:6px; margin-right:6px;" /></div>
	   <div class="comp-specs">
	   <div class="spec-title">Access Panels</div>
	   <div class="spec-value">2</div>
	   </div>
	   </div>
	   
	   <div class="compare-item-collection">
	   <div class="img-comp"><img src="{{ 'comp-03.svg' | asset_url }}" style="max-width:33px; max-height:33px; margin-top:6px; margin-right:6px;" /></div>
	   <div class="comp-specs">
	   <div class="spec-title">CLEATS Installed</div>
	   <div class="spec-value">0</div>
	   </div>
	   </div>
	   
	   <div class="compare-item-collection">
	   <div class="img-comp"><img src="{{ 'comp-04.svg' | asset_url }}" style="max-width:33px; max-height:33px; margin-top:6px; margin-right:6px;" /></div>
	   <div class="comp-specs">
	   <div class="spec-title">Aluminum Grade</div>
	   <div class="spec-value">.080"</div>
	   </div>
	   </div>
	   
	   <div class="compare-item-collection">
	   <div class="img-comp"><img src="{{ 'comp-05.svg' | asset_url }}" style="max-width:33px; max-height:33px; margin-top:6px; margin-right:6px;" /></div>
	   <div class="comp-specs">
	   <div class="spec-title">Removal Time</div>
	   <div class="spec-value">10<span class="spec-measure">MIN</span></div>
	   </div>
	   </div>
	   
	   <div class="compare-item-collection">
	   <div class="img-comp"><img src="{{ 'comp-06.svg' | asset_url }}" style="max-width:33px; max-height:33px; margin-top:6px; margin-right:6px;" /></div>
	   <div class="comp-specs">
	   <div class="spec-title">Tall Cargo</div>
	   <div class="spec-value">NO</div>
	   </div>
	   </div>
	   
	   <div class="compare-item-collection">
	   <div class="img-comp"><img src="{{ 'comp-07.svg' | asset_url }}" style="max-width:33px; max-height:33px; margin-top:6px; margin-right:6px;" /></div>
	   <div class="comp-specs">
	   <div class="spec-title">Max Panel Weight</div>
	   <div class="spec-value">40<span class="spec-measure">LBS</span></div>
	   </div>
	   </div>
	   
	   <div class="compare-item-collection">
	   <div class="img-comp"><img src="{{ 'comp-08.svg' | asset_url }}" style="max-width:33px; max-height:33px; margin-top:6px; margin-right:6px;" /></div>
	   <div class="comp-specs">
	   <div class="spec-title">Total Weight</div>
	   <div class="spec-value">105<span class="spec-measure">LBS</span></div>
	   </div>
	   </div>
	   
	   
	   </div>



	 
	   
	   </div>
	   </div>	   
	   </section>
      </div>
       <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 swipe-msg hidden-lg">
         Swipe Left/Right to View Table
           </div>
         </div>
    </div>
  </div>
</div>


