<div class="built-usa">
  <div class="about-menu">
    <div class="container">
  <div class="row">
     {% include 'menu-about' %}
     </div>
       </div>
  </div>
<section class="banner">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
	 <div class="cms-content">
	 <img class="built-logo" src="{{ 'builtusa-00.svg' | asset_url }}" alt="Built in USA" class="built-logo" />
	 <div class="built-content-wrapper">
     We construct our products using metal, hardware, and welding supplies that all come from American suppliers. From smalltown USA, we are challenging the status quo of what truck bed covers should be so that we can all do more with our trucks. 
    </div>
	 <img class="built-flag" src="{{ 'builtusa-01.svg' | asset_url }}" alt="Built in USA" />
     
	  </div>
    </div>
  </div>
   </div>
  </section>
 <section class="banner-founders"> 
  <div class="container">
        <div class="row">
          <div class="contact-wrapper">
          <h1>From college classroom to corporation.</h1>		 
	 </div>
	 <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
	 <div class="logo-state">
	 <img src="{{ 'builtusa-02.svg' | asset_url }}" alt="PennState" style="max-width:178px; margin-top:10px;" />
	 </div>
	  </div>
	 <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 cms-content-founders">
	 <div class="content-founders">
	 Our founders Ethan Wendle and Matt Chverchko first met each other while attending Penn State University in 2003. Birthed in ENGR 407, an engineering entrepreneurial class, DiamondBack Truck Covers got its start because of a classroom project which grew from a garage operation into an American corporation.
	  </div>
	 </div>
    </div>
  </div>	  
 </section>

 <section class="info-highlight built-usa-loc">
 <div class="container">
        <div class="row">
		<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
		<h1>Philipsburg, PA</h1>
		<h2>Home of DiamondBack</h2>
		<div class="cms-content-loc">
		At DiamondBack Truck Covers, we’re a team dedicated to rolling up our sleeves, getting dirty, and building quality products that make a difference. We’re proud to have always called Philipsburg, PA our home.
		</div>
		  </div>
		<div class="col-xs-6 col-sm-5 col-md-3 col-lg-3">
		<div class="meta-dates">
		<div class="tt">Established</div>
		<div class="dd">1864</div>
		<div class="tt">Population</div>
		<div class="dd">2,708</div>
		</div>
		    </div>
<div class="col-xs-6 col-sm-7 col-md-4 col-lg-4">
<img src="{{ 'map.svg' | asset_url }}" alt="Our Location" />
		    </div>				
  </div>
  <div class="blue-zubriki-out"></div>
   </div>
 </section>
  <section class="culture">
      <div class="container">
        <div class="row">
		<h1>Our Culture</h1>
		<h2>Here are the six core values that we at DiamondBack try to live and work by.</h2>
		<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 icon-wrapper"> 
		<img src="{{ 'culture-01.svg' | asset_url }}" alt="DiamondBack" style="min-height:142px;margin-bottom:2px;" />
 <div class="slogan">Love what you do and those around you.</div>
 </div>
 <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 icon-wrapper"> 
		<img src="{{ 'culture-02.svg' | asset_url }}" alt="DiamondBack" style="min-height:142px;margin-bottom:2px;" />
 <div class="slogan">Make a difference.</div>
 </div>
	<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 icon-wrapper"> 
		<img src="{{ 'culture-03.svg' | asset_url }}" alt="DiamondBack" style="min-height:142px;margin-bottom:2px;" />
  <div class="slogan">Be reliable and honest.</div>
 </div>	
<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 icon-wrapper"> 
		<img src="{{ 'culture-04.svg' | asset_url }}" alt="DiamondBack" style="min-height:142px;margin-bottom:2px;" />
  <div class="slogan">Work smarter.</div>
 </div> 
 <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 icon-wrapper"> 
		<img src="{{ 'culture-05.svg' | asset_url }}" alt="DiamondBack" style="min-height:142px;margin-bottom:2px;" />
  <div class="slogan">Be adventurous and creative.</div>
 </div>
 <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 icon-wrapper"> 
		<img src="{{ 'culture-06.svg' | asset_url }}" alt="DiamondBack" style="min-height:142px;margin-bottom:2px;" />
  <div class="slogan">Never quit until the job is done.</div>
 <div class="grey-zubriki-out"></div>
 </div>
   </div>
     </div>
 </section>
   <section class="team">
    <div class="container">
        <div class="row">
		<h1>Meet Our Team</h1>
		  </div>
   </div>
 </section>
</div>
<style>
.email-wrapper{display: none!important;}
.main-content {
    padding-top: 10px;
}
</style>

