<style>
.main-content {
    padding-top: 0px!important;
}
.email-wrapper {display: none!important;}
</style>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/floatthead/2.0.3/jquery.floatThead.min.js"></script>
<div class="page-compare">
    <div class="banner accessories compare-fitguide">
        <div class="banner-content banner-fit-guide">
            <h1 class="t1">Will my ATV or SXS fit?</h1>
            <h2>ATVs and SXS come in all sizes. Find out if your off-road vehicle will fit on a DiamondBack ATV/SXS Carrier.</h2>
        </div>
    </div>
    <section class="compare-info">
        <div class="container">
            <div class="row">
                <div class="size-info-wrapper hidden-xs hidden-sm">
                    <div class="size-section-wrapper">
                        <div class="size-section">
                            <div class="size-info">
                                &lt;&nbsp; ?" &gt;
                            </div>
                            <div class="size-section-div"></div>
                        </div>
                    </div>
                </div>
                <h1 class="t1">Get your tape measure.</h1>
                <div class="compare-content">
                    To find out if your ATV will fit on a DiamondBack ATV Carrier, you'll need to know its wheelbase for side-loading or the distance from its nose to the center of its rear axle for rear-loading.
                </div>
            </div>
        </div>
    </section>
    <section class="compare-make">
        <div class="container">
            <div class="row">
                <h1>Select your truck&rsquo;s make.</h1>
                <div class="compare-content no-truck-listed">
                    If you don't see your truck listed below, contact DiamondBack Truck Covers at <a href="tel:8009354002">1-800-935-4002</a>, or submit your information <a href="/pages/contact-us">here.</a>
                </div>
            </div>
            <div class="row centered">
                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 oem-logo-box">
                    <a href="#chevy-gmc"><img alt="Chevy" id="select-chevy-logo" src="{{ 'logo-chevy.png' | asset_url }}"></a>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 oem-logo-box">
                    <a href="#ford"><img alt="Ford" id="select-ford-logo" src="{{ 'logo-ford.svg' | asset_url }}"></a>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 oem-logo-box">
                    <a href="#chevy-gmc"><img alt="GMC" id="select-gmc-logo" src="{{ 'logo-gmc.png' | asset_url }}"></a>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 oem-logo-box">
                    <a href="#nissan"><img alt="Nissan" id="select-nissan-logo" src="{{ 'logo-nissan.png' | asset_url }}"></a>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 oem-logo-box">
                    <a href="#ram"><img alt="Ram" id="select-ram-logo" src="{{ 'logo-ram.png' | asset_url }}"></a>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 oem-logo-box">
                    <a href="#toyota"><img alt="Toyota" id="select-toyota-logo" src="{{ 'logo-toyota.svg' | asset_url }}"></a>
                </div>
            </div>
        </div>
    </section>
    <table border="0" cellspacing="0" class="atv-fit-guide float-head" id="chevy-gmc">
        <thead>
            <tr class="topmost">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr class="hide-75em">
                <th class="fit-guide-header-logo" colspan="8"><img alt="Chevy" src="{{ 'logo-chevy.png' | asset_url }}"> <img alt="GMC" src="{{ 'logo-gmc.png' | asset_url }}"></th>
            </tr>
            <tr>
                <th class="fit-guide-side-logo" rowspan="3"><img alt="Chevy" src="{{ 'logo-chevy.png' | asset_url }}"> <img alt="GMC" src="{{ 'logo-gmc.png' | asset_url }}"> <span class="bed-label">bed</span></th>
                <th class="loading-style" colspan="3">Rear-Loading:</th>
                <th class="loading-style" colspan="4">Side-Loading:</th>
            </tr>
            <tr class="atv-dim">
                <th colspan="3">Max Distance (in),<br>
                Nose of ATV to Center of Rear Axle</th>
                <th colspan="2">
                    Max <span class="hide-gte-90em">WB</span><span class="hide-lt-90em">Wheelbase</span> (in),<span class="hide-gte-90em">&nbsp;</span><span class="hide-lt-90em"><br></span>Loaded at Cab or on <a href="/collections/atv-sxs/products/extension-deck"><span class="abbr">EXT</span><span class="unabbr">Extension</span></a>
                </th>
                <th colspan="2">Max <span class="abbr-lte-64em">WB</span><span class="unabbr-gt-64em">Wheelbase</span> (in),<span class="hide-gte-90em">&nbsp;</span><span class="hide-lt-90em"><br></span>Loaded at Tailgate</th>
            </tr>
            <tr class="fit-guide-accessories">
                <th>No Risers</th>
                <th>
                    With <a href="/collections/atv-sxs/products/risers">Risers</a>
                </th>
                <th><span class="hide-75em"><a href="/collections/atv-sxs/products/rear-extension">Rear Ext.</a></span><span class="unabbr-gte-75em">With <a href="/collections/atv-sxs/products/rear-extension">Rear Extension</a></span></th>
                <th>No Risers</th>
                <th>
                    With <a href="/collections/atv-sxs/products/risers">Risers</a>
                </th>
                <th>No Risers</th>
                <th>
                    With <a href="/collections/atv-sxs/products/risers">Risers</a>
                </th>
            </tr>
        </thead>
        <tbody class="fit-guide-body">
            <tr>
                <td class="model" colspan="8">Silverado & Sierra<br>
                <span>2014&ndash;current (except &lsquo;14 2500 & 3500)</span></td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">8'</span><span class="unabbr-gte-75em">Long Bed</span></td>
                <td>90</td>
                <td>93</td>
                <td>105</td>
                <td>53</td>
                <td>56.25</td>
                <td>51.5</td>
                <td>54.75</td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">6.5'</span><span class="unabbr-gte-75em">Standard Bed</span></td>
                <td>71.25</td>
                <td>74.25</td>
                <td>97.25</td>
                <td>52.75</td>
                <td>56</td>
                <td>52.25</td>
                <td>54.75</td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">5.5'</span><span class="unabbr-gte-75em">Short Bed</span></td>
                <td>61.5</td>
                <td>64.5</td>
                <td>87.5</td>
                <td>52.5</td>
                <td>55.75</td>
                <td>52</td>
                <td>54.75</td>
            </tr>
            <tr>
                <td colspan="8"><span>2007&ndash;2013 (except &lsquo;14 1500)</span></td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">8'</span><span class="unabbr-gte-75em">Long Bed</span></td>
                <td>89</td>
                <td>92</td>
                <td>104</td>
                <td>53</td>
                <td>56.25</td>
                <td>52</td>
                <td>55.25</td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">6.5'</span><span class="unabbr-gte-75em">Standard Bed</span></td>
                <td>70.5</td>
                <td>73.5</td>
                <td>96.5</td>
                <td>52.75</td>
                <td>56</td>
                <td>52.5</td>
                <td>55.25</td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">5.5'</span><span class="unabbr-gte-75em">Short Bed</span></td>
                <td>61</td>
                <td>64</td>
                <td>87</td>
                <td>52.75</td>
                <td>56</td>
                <td>52.25</td>
                <td>55.25</td>
            </tr>
            <tr>
                <td colspan="8"><span>1999&ndash;2007 (Classic)</span></td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">8'</span><span class="unabbr-gte-75em">Long Bed</span></td>
                <td>88.75</td>
                <td>91.75</td>
                <td>103.75</td>
                <td>52</td>
                <td>55.25</td>
                <td>51</td>
                <td>54.25</td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">6.5'</span><span class="unabbr-gte-75em">Standard Bed</span></td>
                <td>69.75</td>
                <td>72.75</td>
                <td>95.75</td>
                <td>51.75</td>
                <td>55</td>
                <td>51.5</td>
                <td>54.25</td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">5.5'</span><span class="unabbr-gte-75em">Short Bed</span></td>
                <td>60</td>
                <td>63</td>
                <td>86</td>
                <td>50.75</td>
                <td>54</td>
                <td>50.25</td>
                <td>53.25</td>
            </tr>
            <tr>
                <td class="model" colspan="8">Colorado & Canyon<br>
                <span>2015&ndash;current</span></td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">6'</span><span class="unabbr-gte-75em">Long Box</span></td>
                <td>65</td>
                <td>68</td>
                <td>91</td>
                <td>45.25</td>
                <td>48.5</td>
                <td>44.5</td>
                <td>47.25</td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">5'</span><span class="unabbr-gte-75em">Short Box</span></td>
                <td>52.75</td>
                <td>55.75</td>
                <td>78.75</td>
                <td>44.5</td>
                <td>47.75</td>
                <td>44</td>
                <td>47.25</td>
            </tr>
        </tbody>
    </table>
    <div class="spacer"></div>
    <table border="0" cellspacing="0" class="atv-fit-guide float-head" id="ford">
        <thead>
            <tr class="topmost">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr class="hide-75em">
                <th class="fit-guide-header-logo" colspan="8"><img alt="Ford" src="{{ 'logo-ford.svg' | asset_url }}"></th>
            </tr>
            <tr>
                <th class="fit-guide-side-logo" rowspan="3"><img alt="Ford" src="{{ 'logo-ford.svg' | asset_url }}"> <span class="bed-label">bed</span></th>
                <th class="loading-style" colspan="3">Rear-Loading:</th>
                <th class="loading-style" colspan="4">Side-Loading:</th>
            </tr>
            <tr class="atv-dim">
                <th colspan="3">Max Distance (in),<br>
                Nose of ATV to Center of Rear Axle</th>
                <th colspan="2">
                    Max <span class="hide-gte-90em">WB</span><span class="hide-lt-90em">Wheelbase</span> (in),<span class="hide-gte-90em">&nbsp;</span><span class="hide-lt-90em"><br></span>Loaded at Cab or on <a href="/collections/atv-sxs/products/extension-deck"><span class="abbr">EXT</span><span class="unabbr">Extension</span></a>
                </th>
                <th colspan="2">Max <span class="abbr-lte-64em">WB</span><span class="unabbr-gt-64em">Wheelbase</span> (in),<span class="hide-gte-90em">&nbsp;</span><span class="hide-lt-90em"><br></span>Loaded at Tailgate</th>
            </tr>
            <tr class="fit-guide-accessories">
                <th>No Risers</th>
                <th>
                    With <a href="/collections/atv-sxs/products/risers">Risers</a>
                </th>
                <th><span class="hide-75em"><a href="/collections/atv-sxs/products/rear-extension">Rear Ext.</a></span><span class="unabbr-gte-75em">With <a href="/collections/atv-sxs/products/rear-extension">Rear Extension</a></span></th>
                <th>No Risers</th>
                <th>
                    With <a href="/collections/atv-sxs/products/risers">Risers</a>
                </th>
                <th>No Risers</th>
                <th>
                    With <a href="/collections/atv-sxs/products/risers">Risers</a>
                </th>
            </tr>
        </thead>
        <tbody class="fit-guide-body">
            <tr>
                <td class="model" colspan="8">Super Duty<br>
                <span>2017&ndash;current</span></td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">8'</span><span class="unabbr-gte-75em">Long Bed</span></td>
                <td>89.5</td>
                <td>91.5</td>
                <td>103.5</td>
                <td>55</td>
                <td>58.25</td>
                <td>52.5</td>
                <td>55.75</td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">6.75'</span><span class="unabbr-gte-75em">Short Bed</span></td>
                <td>73.25</td>
                <td>76.25</td>
                <td>99.25</td>
                <td>54.5</td>
                <td>57.75</td>
                <td>53.75</td>
                <td>55.75</td>
            </tr>
            <tr>
                <td colspan="8"><span>2008&ndash;2016</span></td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">8'</span><span class="unabbr-gte-75em">Long Bed</span></td>
                <td>89</td>
                <td>92</td>
                <td>104</td>
                <td>54.75</td>
                <td>58</td>
                <td>52.5</td>
                <td>55.75</td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">6.75'</span><span class="unabbr-gte-75em">Short Bed</span></td>
                <td>72.75</td>
                <td>75.75</td>
                <td>98.75</td>
                <td>54.25</td>
                <td>57.5</td>
                <td>53.75</td>
                <td>55.75</td>
            </tr>
            <tr>
                <td colspan="8"><span>1999&ndash;2007</span></td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">8'</span><span class="unabbr-gte-75em">Long Bed</span></td>
                <td>88.75</td>
                <td>91.75</td>
                <td>103.75</td>
                <td>54.75</td>
                <td>58</td>
                <td>52.5</td>
                <td>55.75</td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">6.75'</span><span class="unabbr-gte-75em">Short Bed</span></td>
                <td>72.75</td>
                <td>75.75</td>
                <td>98.75</td>
                <td>54.25</td>
                <td>57.5<br></td>
                <td>53.75</td>
                <td>55.75</td>
            </tr>
            <tr>
                <td class="model" colspan="8">F-150<br>
                <span>2015&ndash;current</span></td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">8'</span><span class="unabbr-gte-75em">8' Box</span></td>
                <td>88.25</td>
                <td>91.25</td>
                <td>103.25</td>
                <td>52.5</td>
                <td>55.75</td>
                <td>50.5</td>
                <td>53.75</td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">6.5'</span><span class="unabbr-gte-75em">6.5' Box</span></td>
                <td>69.5</td>
                <td>72.5</td>
                <td>95.5</td>
                <td>52</td>
                <td>55.25</td>
                <td>51.5</td>
                <td>53.75</td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">5.5'</span><span class="unabbr-gte-75em">5.5' Box</span></td>
                <td>57.75</td>
                <td>60.75</td>
                <td>83.75</td>
                <td>51.5</td>
                <td>54.75</td>
                <td>51</td>
                <td>53.75</td>
            </tr>
            <tr>
                <td colspan="8"><span>2009&ndash;2014</span></td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">8'</span><span class="unabbr-gte-75em">8.0-ft. Bed</span></td>
                <td>89</td>
                <td>92</td>
                <td>104</td>
                <td>53.5</td>
                <td>56.75</td>
                <td>51.5</td>
                <td>54.75</td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">6.5'</span><span class="unabbr-gte-75em">6.5-ft. Bed</span></td>
                <td>70.25</td>
                <td>73.25</td>
                <td>96.25</td>
                <td>52.75</td>
                <td>56</td>
                <td>52</td>
                <td>54.25</td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">5.5'</span><span class="unabbr-gte-75em">5.5-ft. Bed</span></td>
                <td>58.5</td>
                <td>61.5</td>
                <td>84.5</td>
                <td>52.25</td>
                <td>55.5</td>
                <td>51.5</td>
                <td>54.25</td>
            </tr>
            <tr>
                <td colspan="8"><span>2004&ndash;2008</span></td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">8'</span><span class="unabbr-gte-75em">8.0-ft. Bed</span></td>
                <td>88</td>
                <td>91</td>
                <td>103</td>
                <td>53.75</td>
                <td>57</td>
                <td>52</td>
                <td>55.25</td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">6.5'</span><span class="unabbr-gte-75em">6.5-ft. Bed</span></td>
                <td>69.5</td>
                <td>72.5</td>
                <td>95.5</td>
                <td>53.25</td>
                <td>56.5</td>
                <td>52.75</td>
                <td>55.25</td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">5.5'</span><span class="unabbr-gte-75em">5.5-ft. Bed</span></td>
                <td>57.75</td>
                <td>60.75</td>
                <td>83.75</td>
                <td>53</td>
                <td>56.25</td>
                <td>52.25</td>
                <td>55.25</td>
            </tr>
        </tbody>
    </table>
    <div class="spacer"></div>
    <table border="0" cellspacing="0" class="atv-fit-guide" id="nissan">
        <thead>
            <tr class="topmost">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr class="hide-75em">
                <th class="fit-guide-header-logo" colspan="8"><img alt="Nissan" src="{{ 'logo-nissan.png' | asset_url }}"></th>
            </tr>
            <tr>
                <th class="fit-guide-side-logo" rowspan="3"><img alt="Nissan" src="{{ 'logo-nissan.png' | asset_url }}"> <span class="bed-label">bed</span></th>
                <th class="loading-style" colspan="3">Rear-Loading:</th>
                <th class="loading-style" colspan="4">Side-Loading:</th>
            </tr>
            <tr class="atv-dim">
                <th colspan="3">Max Distance (in),<br>
                Nose of ATV to Center of Rear Axle</th>
                <th colspan="2">
                    Max <span class="hide-gte-90em">WB</span><span class="hide-lt-90em">Wheelbase</span> (in),<span class="hide-gte-90em">&nbsp;</span><span class="hide-lt-90em"><br></span>Loaded at Cab or on <a href="/collections/atv-sxs/products/extension-deck"><span class="abbr">EXT</span><span class="unabbr">Extension</span></a>
                </th>
                <th colspan="2">Max <span class="abbr-lte-64em">WB</span><span class="unabbr-gt-64em">Wheelbase</span> (in),<span class="hide-gte-90em">&nbsp;</span><span class="hide-lt-90em"><br></span>Loaded at Tailgate</th>
            </tr>
            <tr class="fit-guide-accessories">
                <th>No Risers</th>
                <th>
                    With <a href="/collections/atv-sxs/products/risers">Risers</a>
                </th>
                <th><span class="hide-75em"><a href="/collections/atv-sxs/products/rear-extension">Rear Ext.</a></span><span class="unabbr-gte-75em">With <a href="/collections/atv-sxs/products/rear-extension">Rear Extension</a></span></th>
                <th>No Risers</th>
                <th>
                    With <a href="/collections/atv-sxs/products/risers">Risers</a>
                </th>
                <th>No Risers</th>
                <th>
                    With <a href="/collections/atv-sxs/products/risers">Risers</a>
                </th>
            </tr>
        </thead>
        <tbody class="fit-guide-body">
            <tr>
                <td class="model" colspan="8">Titan<br>
                <span>2016&ndash;current</span></td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">8'</span><span class="unabbr-gte-75em">Long Bed</span></td>
                <td>TBD</td>
                <td>TBD</td>
                <td>TBD</td>
                <td>TBD</td>
                <td>TBD</td>
                <td>TBD</td>
                <td>TBD</td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">6.5'</span><span class="unabbr-gte-75em">Standard Bed</span></td>
                <td>68.75</td>
                <td>71.75</td>
                <td>94.75</td>
                <td>51.5</td>
                <td>54.75</td>
                <td>51.5</td>
                <td>54.75</td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">5.5'</span><span class="unabbr-gte-75em">Short Bed</span></td>
                <td>57</td>
                <td>60</td>
                <td>83</td>
                <td>51</td>
                <td>54.25</td>
                <td>51</td>
                <td>54.25</td>
            </tr>
        </tbody>
    </table>
    <div class="spacer"></div>
    <table border="0" cellspacing="0" class="atv-fit-guide" id="ram">
        <thead>
            <tr class="topmost">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr class="hide-75em">
                <th class="fit-guide-header-logo" colspan="8"><img alt="Ram" src="{{ 'logo-ram.png' | asset_url }}"></th>
            </tr>
            <tr>
                <th class="fit-guide-side-logo" rowspan="3"><img alt="Ram" src="{{ 'logo-ram-stacked.png' | asset_url }}"> <span class="bed-label">bed</span></th>
                <th class="loading-style" colspan="3">Rear-Loading:</th>
                <th class="loading-style" colspan="4">Side-Loading:</th>
            </tr>
            <tr class="atv-dim">
                <th colspan="3">Max Distance (in),<br>
                Nose of ATV to Center of Rear Axle</th>
                <th colspan="2">
                    Max <span class="hide-gte-90em">WB</span><span class="hide-lt-90em">Wheelbase</span> (in),<span class="hide-gte-90em">&nbsp;</span><span class="hide-lt-90em"><br></span>Loaded at Cab or on <a href="/collections/atv-sxs/products/extension-deck"><span class="abbr">EXT</span><span class="unabbr">Extension</span></a>
                </th>
                <th colspan="2">Max <span class="abbr-lte-64em">WB</span><span class="unabbr-gt-64em">Wheelbase</span> (in),<span class="hide-gte-90em">&nbsp;</span><span class="hide-lt-90em"><br></span>Loaded at Tailgate</th>
            </tr>
            <tr class="fit-guide-accessories">
                <th>No Risers</th>
                <th>
                    With <a href="/collections/atv-sxs/products/risers">Risers</a>
                </th>
                <th><span class="hide-75em"><a href="/collections/atv-sxs/products/rear-extension">Rear Ext.</a></span><span class="unabbr-gte-75em">With <a href="/collections/atv-sxs/products/rear-extension">Rear Extension</a></span></th>
                <th>No Risers</th>
                <th>
                    With <a href="/collections/atv-sxs/products/risers">Risers</a>
                </th>
                <th>No Risers</th>
                <th>
                    With <a href="/collections/atv-sxs/products/risers">Risers</a>
                </th>
            </tr>
        </thead>
        <tbody class="fit-guide-body">
            <tr>
                <td class="model" colspan="8">Ram<br>
                <span>2009&ndash;current (except &lsquo;09 2500 & 3500)</span></td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">8'</span><span class="unabbr-gte-75em">8' Bed</span></td>
                <td>89</td>
                <td>92</td>
                <td>104</td>
                <td>52.75</td>
                <td>56</td>
                <td>50.5</td>
                <td>53.75</td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">6'4"</span><span class="unabbr-gte-75em">6'4" Bed</span></td>
                <td>67</td>
                <td>70</td>
                <td>93</td>
                <td>52.25</td>
                <td>55.5</td>
                <td>51.5</td>
                <td>53.75</td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">5'7"</span><span class="unabbr-gte-75em">5'7" Bed</span></td>
                <td>57.75</td>
                <td>60.75</td>
                <td>83.75</td>
                <td>52</td>
                <td>55.25</td>
                <td>51</td>
                <td>53.75</td>
            </tr>
            <tr>
                <td colspan="8"><span>2002&ndash;2008 (except &lsquo;09 1500)</span></td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">8'</span><span class="unabbr-gte-75em">8' Bed</span></td>
                <td>89</td>
                <td>92</td>
                <td>104</td>
                <td>53.5</td>
                <td>56.75</td>
                <td>51.25</td>
                <td>54.5</td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">6'4"</span><span class="unabbr-gte-75em">6'4" Bed</span></td>
                <td>67</td>
                <td>70</td>
                <td>93</td>
                <td>53</td>
                <td>56.25<br></td>
                <td>52.25</td>
                <td>54.5</td>
            </tr>
        </tbody>
    </table>
    <div class="spacer"></div>
    <table border="0" cellspacing="0" class="atv-fit-guide float-head" id="toyota">
        <thead>
            <tr class="topmost">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr class="hide-75em">
                <th class="fit-guide-header-logo" colspan="8"><img alt="Toyota" src="{{ 'logo-toyota.svg' | asset_url }}"></th>
            </tr>
            <tr>
                <th class="fit-guide-side-logo" rowspan="3"><img alt="Toyota" src="{{ 'logo-toyota-stacked.png' | asset_url }}"> <span class="bed-label">bed</span></th>
                <th class="loading-style" colspan="3">Rear-Loading:</th>
                <th class="loading-style" colspan="4">Side-Loading:</th>
            </tr>
            <tr class="atv-dim">
                <th colspan="3">Max Distance (in),<br>
                Nose of ATV to Center of Rear Axle</th>
                <th colspan="2">
                    Max <span class="hide-gte-90em">WB</span><span class="hide-lt-90em">Wheelbase</span> (in),<span class="hide-gte-90em">&nbsp;</span><span class="hide-lt-90em"><br></span>Loaded at Cab or on <a href="/collections/atv-sxs/products/extension-deck"><span class="abbr">EXT</span><span class="unabbr">Extension</span></a>
                </th>
                <th colspan="2">Max <span class="abbr-lte-64em">WB</span><span class="unabbr-gt-64em">Wheelbase</span> (in),<span class="hide-gte-90em">&nbsp;</span><span class="hide-lt-90em"><br></span>Loaded at Tailgate</th>
            </tr>
            <tr class="fit-guide-accessories">
                <th>No Risers</th>
                <th>
                    With <a href="/collections/atv-sxs/products/risers">Risers</a>
                </th>
                <th><span class="hide-75em"><a href="/collections/atv-sxs/products/rear-extension">Rear Ext.</a></span><span class="unabbr-gte-75em">With <a href="/collections/atv-sxs/products/rear-extension">Rear Extension</a></span></th>
                <th>No Risers</th>
                <th>
                    With <a href="/collections/atv-sxs/products/risers">Risers</a>
                </th>
                <th>No Risers</th>
                <th>
                    With <a href="/collections/atv-sxs/products/risers">Risers</a>
                </th>
            </tr>
        </thead>
        <tbody class="fit-guide-body">
            <tr>
                <td class="model" colspan="8">Tundra<br>
                <span>2014&ndash;current</span></td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">8'</span><span class="unabbr-gte-75em">Long Bed</span></td>
                <td>88.75</td>
                <td>91.75</td>
                <td>103.75</td>
                <td>52.5</td>
                <td>55.75</td>
                <td>51.5</td>
                <td>54.75</td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">6.5'</span><span class="unabbr-gte-75em">Standard Bed</span></td>
                <td>69.75</td>
                <td>72.75</td>
                <td>95.75</td>
                <td>52.25</td>
                <td>55.5</td>
                <td>52</td>
                <td>54.75</td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">5.5'</span><span class="unabbr-gte-75em">CrewMax</span></td>
                <td>57.5</td>
                <td>60.5</td>
                <td>83.5</td>
                <td>52</td>
                <td>55.25</td>
                <td>51.5</td>
                <td>54.75</td>
            </tr>
            <tr>
                <td colspan="8"><span>2007&ndash;2013</span></td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">8'</span><span class="unabbr-gte-75em">Long Bed</span></td>
                <td>87.75</td>
                <td>90.75</td>
                <td>102.75</td>
                <td>52.25</td>
                <td>55.5</td>
                <td>51</td>
                <td>54.25</td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">6.5'</span><span class="unabbr-gte-75em">Standard Bed</span></td>
                <td>68.75</td>
                <td>71.75</td>
                <td>94.75</td>
                <td>52</td>
                <td>55.25</td>
                <td>51.5</td>
                <td>54.25</td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">5.5'</span><span class="unabbr-gte-75em">CrewMax</span></td>
                <td>56.75</td>
                <td>59.75</td>
                <td>82.75</td>
                <td>51.75</td>
                <td>55</td>
                <td>51.25</td>
                <td>54.25</td>
            </tr>
            <tr>
                <td class="model" colspan="8">Tacoma<br>
                <span>2016&ndash;current</span></td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">6'</span><span class="unabbr-gte-75em">Standard Bed</span></td>
                <td>66</td>
                <td>69</td>
                <td>92</td>
                <td>45</td>
                <td>48.25</td>
                <td>44.5</td>
                <td>47.25</td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">5'</span><span class="unabbr-gte-75em">Short Bed</span></td>
                <td>53.75</td>
                <td>56.75</td>
                <td>79.75</td>
                <td>44.5</td>
                <td>47.75</td>
                <td>44</td>
                <td>47.25</td>
            </tr>
            <tr>
                <td colspan="8"><span>2005&ndash;2015</span></td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">6'</span><span class="unabbr-gte-75em">Standard Bed</span></td>
                <td>65</td>
                <td>68</td>
                <td>91</td>
                <td>46</td>
                <td>49.25</td>
                <td>45.5</td>
                <td>48.25</td>
            </tr>
            <tr>
                <td class="row-header"><span class="hide-75em">5'</span><span class="unabbr-gte-75em">Short Bed</span></td>
                <td>51.75</td>
                <td>54.75</td>
                <td>77.75</td>
                <td>45.5</td>
                <td>48.75</td>
                <td>45</td>
                <td>48.25</td>
            </tr>
        </tbody>
    </table>
    <div class="spacer"></div>
</div>
<script>
    var $table = $('table.float-head');
    var reinit = $table.floatThead('destroy');
    $(document).ready(function() {
        var windowSize = $(window).width();
        if(windowSize < 750){
            $table.floatThead();
        }
    });
</script>



























































